<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <form:create id="fc_com_cars_platform_domain_BreakdownColumn" modelAttribute="breakdownColumn" path="/breakdowncolumns" render="${empty dependencies}" z="IRqZBc6WYRhC6OZBcfHjnkKJOjs=">
        <field:input field="rank" id="c_com_cars_platform_domain_BreakdownColumn_rank" required="true" z="cdcdteeuxiX4TfR5/tZL94izjAk="/>
        <field:input field="name" id="c_com_cars_platform_domain_BreakdownColumn_name" required="true" z="lgUGR0w4kRfC53N/LIm6OZRXvJw="/>
        <field:input field="equation" id="c_com_cars_platform_domain_BreakdownColumn_equation" required="true" z="s0ak8DY97iPcnHOmp9fjKB0rdbA="/>
        <field:checkbox field="showTotal" id="c_com_cars_platform_domain_BreakdownColumn_showTotal" z="bMXSyAbrzB3nIjK/wTgDfeQUdBs="/>
        <field:select field="breakdown" id="c_com_cars_platform_domain_BreakdownColumn_breakdown" itemValue="id" items="${metricbreakdowns}" path="/metricbreakdowns" required="true" z="9c+LkNWLLDrc/hf4+WEnOm7EmgM="/>
        <field:select field="unitType" id="c_com_cars_platform_domain_BreakdownColumn_unitType" items="${unittypes}" path="unittypes" z="grcBXFmfsfs+ZiTPjlRS1K7GfLM="/>
        <field:input field="decimalPlaces" id="c_com_cars_platform_domain_BreakdownColumn_decimalPlaces" validationMessageCode="field_invalid_integer" z="+i+B017A5e5hl2B+91WKc7rdoqU="/>
        <field:input field="totalEquation" id="c_com_cars_platform_domain_BreakdownColumn_totalEquation" z="k1R9azDaylRq/rrPT5Cm5R1TQRk="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_cars_platform_domain_BreakdownColumn" render="${not empty dependencies}" z="2awlDLU4mAVXADzlxq9H/Y4PBQQ="/>
</div>
