<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:message code="label_dashboard_index" htmlEscape="false" var="title" />
	
		<spring:url var="delete" value="/activity/delete" />
		<spring:url var="icon_delete" value="/resources/images/delete.png" />
        <spring:url var="icon_blank" value="/resources/images/icon_blank.png" />
        		
		<script>
			$(function() {
				$("#activity").tabs();
				$('.confirmation').on('click', function () {
			        return confirm('Are you sure?');
			    });    
			});	
						           
	    </script>

		<style type="text/css">
            #activity {width: 700px;}
            hr {width: 700px;}

			#activity { 
				border: 0px;
			}
			
			#activity p {
				color:#AAA;
				maring:0;
				padding:0;
				line-height:0px!important;
			}
        </style>

		<div id="activity">
			<ul>
				<li><a href="#activity-1">CDFIs</a></li>
				<c:if test="${person.admin }">
				<li><a href="#activity-2">SUBSCRIBERS</a></li>
				</c:if>
				<li><a href="#activity-3">AERIS</a></li>
			</ul>
			<div id="activity-1" style="overflow-y: auto; max-height: 700px;">
				
			<div version="2.0"><div>
			<c:if test="${activityCDFI.size()==0 }">
				<p><i>No recent CDFI activity.</i></p>
			</c:if>
						
			<c:forEach var="activity" items="${activityCDFI }">
				<div style="padding:10px; background-color:#EBEBEB; margin-bottom: 1px;"><p>${activity.person.firstName} ${activity.person.lastName} (${activity.person.company.name })</p> ${activity.summary }
			      <c:if test="${person.admin }"> <span id="icon-delete">
                      <a href="${delete }/${activity.id}" class="confirmation"><img src="${icon_blank}" title="Delete" alt="Delete"/></a>
                  </span></c:if></div>						
			</c:forEach>	
			</div></div>				
			</div>

			<c:if test="${person.admin }">
				<div id="activity-2" style="overflow-y: auto; max-height: 700px;">
					<div version="2.0"><div>
				    <c:if test="${activitySubscriber.size()==0 }">
				        <p><i>No recent subscriber activity.</i></p>
					</c:if>
						
					<c:forEach var="activity" items="${activityInvestor }">
						<div style="padding:10px; background-color:#EBEBEB; margin-bottom: 1px;"><p>${activity.person.firstName} ${activity.person.lastName} (${activity.person.company.name })</p> ${activity.summary } 
						<span id="icon-delete">
                      <a href="${delete }/${activity.id}" class="confirmation"><img src="${icon_blank}" title="Delete" alt="Delete"/></a>
                  </span></div>						
					</c:forEach>
					</div></div>
				</div>
			</c:if>
			<div id="activity-3" style="overflow-y: auto; max-height: 700px;">
				<div version="2.0"><div>
				    <c:if test="${activityCARS.size()==0 }">
				        <p><i>No recent Aeris activity.</i></p>
					</c:if>
						
					<c:forEach var="activity" items="${activityCARS }">
						<div style="padding:10px; background-color:#EBEBEB; margin-bottom: 1px;"><p>${activity.person.firstName} ${activity.person.lastName} (${activity.person.company.name })</p> ${activity.summary }
				          <c:if test="${person.admin }"> <span id="icon-delete">
                            <a href="${delete }/${activity.id}" class="confirmation"><img src="${icon_blank}" title="Delete" alt="Delete"/></a>
                          </span></c:if>
						</div>						
					</c:forEach>
				</div></div>
				</div>
			</div>

			<h3>Action Items</h3>
			<p><tiles:insertTemplate template="/WEB-INF/views/nav/changerequests.jspx"/></p>
</div>