<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:message code="label_investor_index" htmlEscape="false"
		var="title" />
    <div style="background-color:#fff;width:550px;padding:20px;">

    <h3>Thanks for Stopping By</h3>
    
    <p>Thanks for considering AERIS.  If you would like more information, please contact us at 
    <a href="mailto:info@AerisInsight.com?Subject=Help%20Requested">info@AerisInsight.com</a>.</p>

    </div>
</div>

