<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:sform="http://www.springframework.org/tags/form"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	
	<spring:url var="peerGroups" value="/peergroups"></spring:url>
	
	<spring:url var="peerGroupReport" value="/investor/${company.id }/peergroupreport/"></spring:url>
	<spring:url var="createPeerGroup" value="/investor/${company.id }/selector"></spring:url>
<style>
#carsmain {
    min-width: 962px;
}
</style>
	<script>
	<![CDATA[
	var url = "${peerGroups}?companyId=${company.id}";	
	var peerGroupReportUrl = "${peerGroupReport}";
	var createPeerGroupUrl = "${createPeerGroup}";
	]]>
	</script>
<tiles:insertTemplate template="/WEB-INF/views/nav/investorreportsnav.jspx"/>

<c:if test="${peerGroupAccess == 'NONE'}">
<p>
Your current subscription does not provide access to peer group reports
</p>
</c:if>

<c:if test="${peerGroupAccess != 'NONE'}">	
	<tiles:insertTemplate template="/WEB-INF/views/peergroupslist.jspx"/>
</c:if>
</div>