<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:sform="http://www.springframework.org/tags/form"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	
    <tiles:insertTemplate template="/WEB-INF/views/nav/investorreportsnav.jspx"/>
	<br/>
	<tiles:insertTemplate template="/WEB-INF/views/anonymous/selector.jspx" />
	
</div>