<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:message code="label_dashboard_index" htmlEscape="false" var="title" />
	<spring:url var="carsuserlink" value="/profile" />
	<spring:url var="cdfilink" value="/cdfi" />
	<spring:url var="subscriberlink" value="/subscriber" />

	<script>
	<![CDATA[
	$(document).ready(function(){
		$('.sort').dataTable( {
			"aoColumns":[null,null,null,null],
			"aaSorting":[[1,"desc"]],
			"bPaginate":false,
			"bFilter":false,
			"bInfo":false,
			
	    } );
	});
	]]>
	</script>

<style>
	#carsmain {max-width: 722px;}	
</style>
			<script>
				$(function() {
					$("#tabs").tabs();
				});
			</script>

			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">CDFIs</a></li>
					<li><a href="#tabs-2">Subscribers</a></li>
					<li><a href="#tabs-3">AERIS</a></li>
				</ul>
				<div id="tabs-1">
			
                    <table>
                    <tr><th>CDFI</th><th>Currently Due</th></tr>
                
                    <c:forEach var="cdfi" items="${actionItemMap}">
                
                    <tr><td><a href="${cdfilink }/${cdfi.key.id}">${cdfi.key.name }</a></td>
                    <td>
                    <c:if test="${cdfi.value.size()==0}">
                        <div style="color:green;">Up to date</div>
                    </c:if>
                
                    <c:forEach var="actionItem" items="${cdfi.value }">
                        <c:choose>
                
                        <c:when test="${actionItem.daysUntilDue>0 }">
                            <div>${actionItem.title }<br/></div>
                        </c:when>
                        <c:otherwise>
                            <div style="color:red;">${actionItem.title }<br/></div>
                        </c:otherwise>
                        </c:choose>
                    </c:forEach>
                    </td></tr>
                    </c:forEach>
                    </table>				
			          
				</div>
				<div id="tabs-2">
				   <table>
				   <tr><th>Subscriber</th></tr>
		           <c:forEach var="subscriber" items="${subscribers}">
		             <tr><td><a href="${subscriberlink }/${subscriber.id}">${subscriber.name }</a></td></tr>
		           </c:forEach>	
		           </table>
				</div>
				<div id="tabs-3">
				    <table class="sort">
				    <thead>
				    <tr><th>Username</th><th>Name</th><th>Role</th><th>Active</th></tr>
				    </thead>
				    <tbody>
                    <c:forEach var="carsUser" items="${carsUsers}">
		                <tr>
		                <td><a href="${carsuserlink }/${carsUser.id}">${carsUser.username }</a></td>
		                <td>${carsUser.firstName } ${carsUser.lastName }</td>
		                <td>${carsUser.personRole }</td>
		                <c:if test="${carsUser.enabled == true}">
		                <td>Active</td>
		                </c:if>
		                <c:if test="${carsUser.enabled == false}">
		                <td>Inactive</td>
		                </c:if>
		                
		                </tr>
		            </c:forEach>
		            </tbody>
		            </table>
				</div>
			</div>					
</div>