<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <page:show id="ps_com_cars_platform_domain_MetricBreakdownItem" object="${metricbreakdownitem}" path="/metricbreakdownitems" z="ACatiDN+Mnn8+oWDk+l0o4vevBE=">
        <field:display field="name" id="s_com_cars_platform_domain_MetricBreakdownItem_name" object="${metricbreakdownitem}" z="g/fn+zJEYS2zB/XFkL/EIv5FVjM="/>
        <field:display field="rank" id="s_com_cars_platform_domain_MetricBreakdownItem_rank" object="${metricbreakdownitem}" z="L0j5vOcwLIBn9oHKzlMbN9ylbEE="/>
        <field:display field="active" id="s_com_cars_platform_domain_MetricBreakdownItem_active" object="${metricbreakdownitem}" z="jvsJ0Tjp3bUFiS825/t7pZ2g3vA="/>
        <field:display field="metricBreakdown" id="s_com_cars_platform_domain_MetricBreakdownItem_metricBreakdown" object="${metricbreakdownitem}" z="4KLBDDxOX20kiN46EsB/Xq7MoB0="/>
    </page:show>
</div>
