<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:form="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags" version="2.0">

	<style>
.dijitTextArea {
	min-height: 5.5em !important;
	max-height: 22em !important;
	overflow-y: auto !important;
	max-width: 600px;
	font-size: 11px;
}
</style>


	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/><br/>
	<form:create id="fc_com_cars_platform_domain_Footnote"
		modelAttribute="footnote" path="/footnotes" render="${empty dependencies}"
		z="user_managed">
		
		<field:input field="label" required="true" id="c_com_cars_platform_domain_Footnote_label"
			z="user_managed" />
		<field:input field="comment" required="true" id="c_com_cars_platform_domain_Footnote_comment"
			z="user_managed" />
		<field:select field="reportPage"
			id="c_com_cars_platform_domain_Footnote_reportPage" items="${reportPages}"
			path="reportpage" z="user_managed" />
		<field:select field="company"
			id="c_com_cars_platform_domain_Footnote_company" itemLabel="name"
			itemValue="id" items="${companys}" path="/companys" z="user-managed" />
			
			
			
			
			
			
			
			
	</form:create>
	<form:dependency dependencies="${dependencies}"
		id="d_com_cars_platform_domain_Graph"
		render="${not empty dependencies}" z="sNAKmR2El64igNchH06P1jrMg10=" />
</div>
