<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<c:url value="/resources/images/create.png" var="createImg" />
	<h2>Footnotes</h2>
	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/><br/>
	<p>

		
			<spring:url value="/footnotes/cdfi/${company.id }?form=yes" var="create" />

    Footnotes for ${company.name }

	</p>
	<c:set var="path" value="/footnotes/cdfi/${company.id }" scope="request"/>
	<page:list id="pl_com_cars_platform_domain_Footnote" items="${footnotes}"
		z="2RDch2cCPYMSuqYqlOzl916TEFw=">
		<table:table create="false" data="${footnotes}"
			id="l_com_cars_platform_domain_Footnote" path="/footnotes" z="user-managed">		
			<table:column id="c_com_cars_platform_domain_footnote_reportPage"
				property="reportPage" z="user-managed" />
			<table:column id="c_com_cars_platform_domain_Footnote_label"
				property="label" z="user-managed" />
			<table:column id="c_com_cars_platform_domain_Footnote_comment"
				property="comment" z="user-managed" />
		</table:table>
	</page:list>
	<p>
		<a href="${create}"> <img src="${createImg }" />Create new footnote for ${company.name }
		</a>
	</p>
</div>
