<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <form:create id="fc_com_cars_platform_domain_BreakdownTable" modelAttribute="breakdownTable" path="/breakdowntables" render="${empty dependencies}" z="a8v56hjdw/2InUJEtmoh2ZdeZn8=">
        <field:input field="title" id="c_com_cars_platform_domain_BreakdownTable_title" min="2" required="true" z="3GSM3xbz2Es/qDux5lyNMvysyqs="/>
        <field:select field="breakdown" id="c_com_cars_platform_domain_BreakdownTable_breakdown" itemValue="id" items="${metricbreakdowns}" path="/metricbreakdowns" required="true" z="u0/ZDBrVYDoUNsdkNtJlmfbf37Q="/>
        <field:select field="columns" id="c_com_cars_platform_domain_BreakdownTable_columns" itemLabel="selectName" itemValue="id" items="${breakdowncolumns}" multiple="true" path="/breakdowncolumns" size="10" z="user-managed"/>
        <!--<field:select field="children" id="c:family.Father.children" itemValue="id" 
 items="${children}" multiple="true" path="/children"/>

         <field:select field="columns" id="c_com_cars_platform_domain_BreakdownTable_columns"
         itemValue="id" items="${columns}" multiple="true" path="/columns" z="user_managed"/>
-->
        <field:checkbox field="export" id="c_com_cars_platform_domain_BreakdownTable_export" z="Jm0GDw8BB+3xppwnEJGwrr2zUX8="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_cars_platform_domain_BreakdownTable" render="${not empty dependencies}" z="DNwAXj+7vTg76AqbnRNyVfs6+/s="/>
</div>
