<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    
	<spring:url var="breakdownpie" value="/breakdownpies?form" />
	<spring:url var="breakdownhistory" value="/breakdownhistorys?form" />
	<spring:url var="breakdowntable" value="/breakdowntables?form" />
    
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <br/>
    <br/>
    
    <a class="confirmation" href="${breakdownpie}">Create Breakdown Pie Chart</a>
    <br/>
    <a class="confirmation" href="${breakdownhistory}">Create Breakdown History</a>
    <br/>
    <a class="confirmation" href="${breakdowntable}">Create Breakdown Table</a>
    <br/>
    
   <!-- 
    <form:create id="fc_com_cars_platform_domain_BreakdownGraph" modelAttribute="breakdownGraph" path="/breakdowngraphs" render="${empty dependencies}" z="fGxQ4jixDHgg5ypuCfUTx7W7fHQ=">
        <field:input field="title" id="c_com_cars_platform_domain_BreakdownGraph_title" required="true" z="rrrlcMtsNj8lH2QsFxIUAZqnSEk="/>
        <field:select field="breakdown" id="c_com_cars_platform_domain_BreakdownGraph_breakdown" itemValue="id" items="${metricbreakdowns}" path="/metricbreakdowns" required="true" z="h0rDyHPVfG1yhcUvZhj/+5Ia0tg="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_cars_platform_domain_BreakdownGraph" render="${not empty dependencies}" z="6CVXNnJZ5fcJdZDz0UxnAp4qjrk="/>
    -->
</div>
