<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <page:show id="ps_com_cars_platform_domain_BreakdownGraph" object="${breakdowngraph}" path="/breakdowngraphs" z="HiKdjI8lemNpsWpmWAWAStjaqWM=">
        <field:display field="title" id="s_com_cars_platform_domain_BreakdownGraph_title" object="${breakdowngraph}" z="kHqZQcE1Rgn4nkBkRzjx/aLn/q0="/>
        <field:display field="breakdown" id="s_com_cars_platform_domain_BreakdownGraph_breakdown" object="${breakdowngraph}" z="Xc8nOm9ukSB2svZew/HzKtjhPKs="/>
        <field:display field="export" id="s_com_cars_platform_domain_BreakdownGraph_export" object="${breakdowngraph}" z="0WYlwb77O1+1b2XI2IHaQ2bLmbg="/>
    </page:show>
</div>
