<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:form="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags" version="2.0">

	<style>
.dijitTextArea {
	min-height: 5.5em !important;
	max-height: 22em !important;
	overflow-y: auto !important;
	max-width: 600px;
	font-size: 11px;
}

#carsmain { width: 970px;}	
#wrapper { background-color: #E4E4E4!important; }
label {
    width: 160px;
}
</style>


	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/><br/>
	<form:create id="fc_com_cars_platform_domain_Graph"
		modelAttribute="graph" path="/graphs" render="${empty dependencies}"
		z="AYMBnn6sG5jz8ZUrxC0E4aTLLu4=">
		<field:input field="title" id="c_com_cars_platform_domain_Graph_title"
			z="k+SP2TRAVRbwtF+rKME7e5P5yOY=" />		
		<field:input field="code" id="c_com_cars_platform_domain_Graph_code"
			z="/5/B2ojSkcE+pOZDfJb0I8mklqY=" />
			
		<field:select field="graphType"
			id="c_com_cars_platform_domain_Graph_graphType" items="${graphtypes}"
			path="graphtypes" z="kGUuycmj0EHBv1aHKBnBKNOFEkU=" />
		<field:select field="unitType"
			id="c_com_cars_platform_domain_Graph_unitType" items="${unittypes}"
			path="unittypes" z="XgIFjPck6FFDtZ1X8g6mvxVr3OQ=" />
		<field:checkbox field="showInterim"
			id="c_com_cars_platform_domain_Graph_showInterim" />
		<field:select field="showYears"
			id="c_com_cars_platform_domain_Graph_showYears" items="${showYears}"
			itemLabel="label" itemValue="count" path="showYears" z="" />
		<field:select field="company"
			id="c_com_cars_platform_domain_Graph_company" itemLabel="name"
			itemValue="id" items="${companys}" path="/companys" z="user-managed" />
		<field:textarea field="notes" id="c_com_cars_platform_domain_Graph_notes"
			cols="60" z="user_managed" />
	</form:create>
	<form:dependency dependencies="${dependencies}"
		id="d_com_cars_platform_domain_Graph"
		render="${not empty dependencies}" z="sNAKmR2El64igNchH06P1jrMg10=" />
</div>
