<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:url var="icon_blank" value="/resources/images/icon_blank.png" />
	<c:url value="/resources/images/create.png" var="createImg" />
	<spring:url value="/graphs/cdfi/${company.id }?form=yes" var="create" />
	<spring:url value="/graphs" var="graphController" />
	
	<h2>Graphs</h2>
	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/><br/>
	
	<span id="icon-add">
			<a href="${create}"><img src="${icon_blank}" style="margin-left:10px; height:30px" />Create new graph <c:if test="${company !=null }"> for ${company.name }</c:if> </a>
	</span>
	<table id="hor-minimalist-b">
		<tr>
			<th>Title</th>
			<th>Global</th>
			<th>Overridden</th>
			<th>Code</th>
			<th>Graph Type</th>
			<th>Unit Type</th>
			<th></th>
			<th></th>
		</tr>
		<c:forEach var="graph" items="${graphs }">
			<c:choose>
				<c:when test="${graph.company==null }">
					<spring:url value="/graphs/override/${company.id }" var="override">
						<spring:param name="graphId" value="${graph.id }" />
					</spring:url>
				</c:when>	
				<c:otherwise>
					<spring:url value="/graphs/${graph.id }?form" var="edit" />
				</c:otherwise>
			</c:choose>
			
			<tr>
				<td>${graph.title }</td>
				<td><c:if test="${graph.company == null }">X</c:if></td>
				<td><c:if test="${graph.overridden }">X</c:if></td>
				<td>${graph.code }</td>
				<td>${graph.graphType}</td>
				<td>${graph.unitType}</td>
				
				<td>
					<div class="quicklinks">
						<c:if test="${graph.company!=null }">
							<span>
								<a title="Update Graph" alt="Update Graph" href="${edit }"> 
									<span id="icon-update">
										<img title="Update Graph" src="${icon_blank }" class="image" alt="Update Graph" />
									</span>
								</a>
							</span>							
						</c:if>	
					</div>
				</td>
				<td>
					<div class="quicklinks">
						<c:choose>
							<c:when test="${graph.company!=null }">
								<span>
									<form id="command" action="${graphController}/${graph.id }" method="post">
										<input type="hidden" name="_method" value="DELETE" /> 
										<c:choose>
											<c:when test="${graph.overridden }">
												<span id="icon-deleteoverride">
													<input onclick="return confirm('Are you sure want to remove the override?');" value="Remove Override" type="image" title="Remove Override" src="${icon_blank }" class="image" alt="Remove Override" />
												</span>
											</c:when>
											<c:otherwise>
												<span id="icon-delete">
													<input onclick="return confirm('Are you sure want to delete this item?');" value="Delete Graph" type="image" title="Delete Graph" src="${icon_blank }" class="image" alt="Delete Graph" />
												</span>
											</c:otherwise>
										</c:choose>
										
									</form>
								</span>
							</c:when>
							<c:otherwise>
								<span>
									<a title="Override Graph" alt="Override Graph" href="${override }"> 
										<span id="icon-override">
											<img title="Override Graph" src="${icon_blank }" class="image" alt="Override Graph" />
										</span>
									</a>
								</span>
							</c:otherwise>
						</c:choose>
					</div>
				</td>
			</tr>
		</c:forEach>
	</table>
	<p>
		<span id="icon-add">
			<a href="${create}"><img src="${icon_blank}" style="margin-left:10px; height:30px" />Create new graph <c:if test="${company !=null }"> for ${company.name }</c:if> </a>
		</span>
	</p>
</div>
