<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:url var="icon_blank" value="/resources/images/icon_blank.png" />
	<c:url value="/resources/images/create.png" var="createImg" />
	<h2>Graphs</h2>
	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/><br/>
	<p>
		<c:if test="${company ==null }">
			<spring:url value="/graphs?form=yes" var="create" />
    	</c:if>
		<c:if test="${company !=null }">
			<spring:url value="/graphs/cdfi/${company.id }?form=yes" var="create" />
    	</c:if>
	</p>

	<page:list id="pl_com_cars_platform_domain_Graph" items="${graphs}" z="2RDch2cCPYMSuqYqlOzl916TEFw=">
		<table:table create="false" data="${graphs}" id="l_com_cars_platform_domain_Graph" path="/graphs" z="user-managed">
			<table:column id="c_com_cars_platform_domain_Graph_formulas" property="formulas" render="false" z="user-managed" />
			<table:column id="c_com_cars_platform_domain_Graph_title" property="title" z="L0RyRmC5hWdZZGoOdIuO7dW2ZvY=" />
			<table:column id="c_com_cars_platform_domain_Graph_code" property="code" z="jxbSBfH5hqCw84NvKgqoLlrOaAA=" />
			<table:column id="c_com_cars_platform_domain_Graph_graphType" property="graphType" z="yrnywT3y2Kr5D0vr8WGJWltPLko=" />
			<table:column id="c_com_cars_platform_domain_Graph_unitType" property="unitType" z="user-managed" />
		</table:table>
	</page:list>
	<p>
		<span id="icon-add">
			<a href="${create}"><img src="${icon_blank}" style="margin-left:10px; height:30px" />Create new graph <c:if test="${company !=null }"> for ${company.name }</c:if> </a>
		</span>
	</p>
</div>
