.x-column-header {
	border:0px!important;
} 

.x-column-header, .x-grid-header-ct { 
	background:#B8B8B8!important;
	border:0px!important;
}

.x-column-header-over {
	background:none!important;
}

.x-column-header-inner {
	line-height:20px!important;
}

.x-column-header-inner span {
	text-transform:uppercase;!important;
}

.x-grid-body {
	border:0px!important;
}

.x-grid-row-collapsed .x-grid-row-expander {
    background-image: url("../images/expand.gif")!important;
    background-position: 0px!important;
}

.x-grid-row-expander {
    background-image: url("../images/collapse.gif")!important;
    background-position: 0px!important;
}

.x-grid-table .x-grid-cell {
	background:#EBEBEB!important;
}

.x-grid-table {
	margin: 0px;
	border: 0px;
	border-spacing: 0;
	padding: 0px;
}

.x-grid-table table td,.x-grid-table table th {
	margin: 0px;
	border: 0px;
	border-spacing: 0;
	padding: 0px;
	background-color: #F9F4E9!important;
}

.x-column-header-trigger {
	background-image: url("../images/down.gif")!important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.x-form-item-label {
	font-family:'Montserrat',Arial,Helvetica,sans-serif!important;
}

.x-toolbar{
	background:none!important;
	border:0px!important;
}
.x-toolbar-item {
	border:0px!important;
}
