
.x-column-header, .x-grid-header-ct { 
	background:none!important;
}

.x-column-header-over {
	background:none!important;
}

.x-column-header-inner {
	line-height:20px!important;
}

.x-column-header-inner span {
	text-transform:uppercase;!important;
}

.x-grid-body {
    border-color: #eee!important;
}

.x-grid-table {
	margin: 0px;
	border: 0px;
	border-spacing: 0;
	padding: 0px;
}

.x-grid-table table td,.x-grid-table table th {
	margin: 0px;
	border: 0px;
	border-spacing: 0;
	padding: 0px;
	background-color: #F9F4E9!important;
}

.x-column-header-trigger {
	background-image: url("../images/down.gif")!important;
	background-color: rgba(0, 0, 0, 0) !important;
}

#financials .x-grid-row td {
	border-bottom:0px!important;
	padding-top:3px!important;
	padding-bottom:3px!important;
}

.x-column-header-text {
	font-weight:800!important;
}

.x-grid-row-alt {
	background:#EBEBEB!important;
}

table th {
	border:0px!important;
}
