<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" 
	 xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" 
	 xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" 
	 xmlns:jsp="http://java.sun.com/JSP/Page" 
	 xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    
<!--
    <script>
    <![CDATA[
		$(function(){
			var name = $('[name=subscriptionType]').val();			
				$('#_ratings_id').trigger("click");			
				
				
        });
		
		$('*').on('click',function(){
			if($('[name=subscriptionType]').val() == "ALL"   ||
	           $('[name=subscriptionType]').val() == "SINGLE"   ){
		     		if($('#_ratings_id').attr('aria-pressed')=="false"){
		        		$('#_ratings_id').attr('aria-pressed','true');
		       			$('#_ratings_id').trigger("click");
		        	}
		    }	        	
		        	
		    if($('[name=subscriptionType]').val() == "REPORTING"){	        		
		    	if($('#_ratings_id').attr('aria-pressed')=="true"){
		        	$('#_ratings_id').attr('aria-pressed','false');
		        	$('#_ratings_id').parent().parent().css('display','none');
		        	$('#_ratings_id').trigger("click");	        				
		        }
			} else {
		    	$('#_ratings_id').parent().parent().css('display','inherit');
			}
        });
		
    ]]>
    </script>
    
  -->    


    <c:if test="${owner!=null }">Create a new subscription for ${owner.name }</c:if>
       
    
    <form:create id="fc_com_cars_platform_domain_Subscription" modelAttribute="subscription" path="/subscriptions" render="${empty dependencies}" z="tyZN5qUZUxQdYpKYNhYMeDbLigU=">
        <field:select field="subscriptionType" id="c_com_cars_platform_domain_Subscription_subscriptionType" items="${subscriptiontypes}" path="subscriptiontypes" z="8b6H37poxcdnI4wIonKRf/1etRg="/>
        <c:if test="${!owner.CDFI }">
		    <field:checkbox field="ratings" id="c_com_cars_platform_domain_Subscription_ratings"/>
		    <field:checkbox field="annualReviews" id="c_com_cars_platform_domain_Subscription_annualreviews"/>
		    <field:checkbox field="opinions" id="c_com_cars_platform_domain_Subscription_opinions" />
		    <field:checkbox field="financials" id="c_com_cars_platform_domain_Subscription_financials" />
		    <field:checkbox field="peerGroups" id="c_com_cars_platform_domain_Subscription_peergroups" />
		    <field:checkbox field="showPeerMetrics" id="c_com_cars_platform_domain_Subscription_showpeermetrics" />
 		</c:if>
        <field:datetime dateTimePattern="${subscription_expirationdate_date_format}" field="expirationDate" id="c_com_cars_platform_domain_Subscription_expirationDate" z="vrYVaSHqfIWRFIAUK+Wts46h3ps="/>
        <div style="display: none;">
            <field:select field="owner" id="c_com_cars_platform_domain_Subscription_owner" itemValue="id" itemLabel="name" items="${owners}" path="/owners" z="lyP0jIR6fPS5stWW2XBs4rYzuOY="/>
        </div>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_cars_platform_domain_Subscription" render="${not empty dependencies}" z="fyEwHt1wMWSL+N0BeiIZNiHTwWc="/>
</div>
