<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_cars_platform_domain_Folder" items="${folders}" z="QYcOEd97swZVX8sVUVMfQYPeKPs=">
        <table:table data="${folders}" id="l_com_cars_platform_domain_Folder" path="/folders" z="PGLQIfYFUib3/1MSZcdjlJzC2oU=">
            <table:column id="c_com_cars_platform_domain_Folder_company" property="company" z="7tPxoQ5NDkFyT1pu1Ihiyc2tM8k="/>
            <table:column id="c_com_cars_platform_domain_Folder_parent" property="parent" z="k4ye6Bpea+ZtQbiYuDwnsaoLJKw="/>
        </table:table>
    </page:list>
</div>
