<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	 xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" 
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:s="http://www.springframework.org/tags"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<div>

<script type="text/javascript">
	window.scrollTo(0, 1);
</script>

<c:url var="findStateCitiesURL" value="/register/cities" />
<c:url var="findStatesURL" value="/register/states" />

<!-- http://forum.springsource.org/showthread.php?110258-dual-select-dropdown-lists -->
<!-- http://api.jquery.com/jQuery.getJSON/ -->
<script type="text/javascript">
<![CDATA[
$(document).ready(function() { 
	$('#usStates').change(
			function() {
				$.getJSON('${findStateCitiesURL}', {
					stateName : $(this).val(),
					ajax : 'true'
				}, function(data) {
					var html = '<option value="">City</option>';
					var len = data.length;
					for (var i = 0; i < len; i++) {
						html += '<option value="' + data[i].name + '">'
								+ data[i].name + '</option>';
					}
					html += '</option>';

					$('#city').html(html);
				});
			});
});
]]>
</script>

<script type="text/javascript">
<![CDATA[
	$(document).ready(
			function() {
				$.getJSON('${findStatesURL}', {
					ajax : 'true'
				}, function(data) {
					var html = '<option value="">State</option>';
					var len = data.length;
					for ( var i = 0; i < len; i++) {
						html += '<option value="' + data[i].name + '">'
								+ data[i].name + '</option>';
					}
					html += '</option>';

					$('#usStates').html(html);
				});
			});
]]>
</script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#city").change(onSelectChange);
	});

	function onSelectChange() {
		var selected = $("#city option:selected");		
		var output = "";
		if(selected.val() != 0){
			output = "You selected City " + selected.text();
		}
		$("#output").html(output);
	}
</script>





<c:if test="${not empty message}">
	<div class="${message.type.cssClass}">${message.text}</div>
</c:if>

<c:url value="/register/signup" var="signupUrl" />
<form:form id="signup" action="${signupUrl}" method="post"
	modelAttribute="signupForm">
	<div class="formInfo">
	<h2>Sign Up</h2>
	<s:bind path="*">
		<c:choose>
			<c:when test="${status.error}">
				<div class="error">Unable to sign up. Please fix the errors
				below and resubmit.</div>
			</c:when>
		</c:choose>
	</s:bind>
	<p>Select a State</p>
	</div>


	<fieldset>
	<div class="multiple">
	
	<form:select id="usStates" path="usState">
	</form:select> 
	
	<form:select id="city" path="city">
		<form:option value="">City</form:option>
	</form:select>
	
	</div>
	</fieldset>


	<p>
	<button type="submit" class="greenButton" >Sign Up</button>
	</p>
</form:form>

	<div id="output">
		
	</div>





	</div>
</div>

