<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:sform="http://www.springframework.org/tags/form"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:url var="getUnitTypes" value="/formulas/getUnitTypes"></spring:url>
	<spring:url var="getDecimalPlaces" value="/formulas/getDecimalPlaces"></spring:url>
	<spring:url var="getMetrics" value="/metric/getMetrics/0" />
	<spring:url var="getChildCategories" value="/metric/getChildCategories" />
	<spring:url var="createFormula" value="/formulas/createFormula"></spring:url>
	<spring:url var="updateFormula" value="/formulas/"></spring:url>
	<spring:url var="translate" value="/metric/getFormulaTranslated"></spring:url>
	<spring:url var="getGlobalCDFIFormulas" value="/formulas/getGlobalCDFIFormulas"></spring:url>
	<spring:url var="getLocalCDFIFormulas" value="/formulas/getLocalCDFIFormulas"></spring:url>
	<spring:url var="validate" value="/lib/jquery.validate.min.js" />
	<script type="text/javascript" src="${validate}"><!-- required for FF3 and Opera --></script>
<script>
<![CDATA[ 
var viewModel;
(function($) {
	
	var container;
	var contextMenu;
	var editableStore;
	var settings;
	var Model;
	var editableGrid;
	var editDialog;
	var dialogConfirm;
	var existingEquationSelected;
	var deleteFormulaItem;
	var overrideFormulaItem;
	var removeOverrideFormulaItem;
	var editExistingItem;
	var overrideFromNewItem;
	
	var validator = null;
	var metricTabs = null;
	var editTabs = null;
	var tree = null;
	
	var DialogStates = {
			Normal         : {value:0, name:"DragDrop"},
			InsertNew      : {value:1, name:"InsertNew"},
			InsertExisting : {value:2, name:"InsertExisting"},
			Override       : {value:3, name:"Override"},
			RemoveOverride : {value:4, name:"RemoveOverride"},
			RemoveFormula  : {value:5, name:"RemoveFormula"},
			BuildFormula   : {value:6, name:"BuildFormula"},
			EditExisting   : {value:7, name:"EditExisting"},
			OverrideWithNew: {value:8, name:"OverrideWithNew"}
	}
	var currentState = DialogStates.Normal;
		
	var methods = {
		init: function(options) {
			settings = {
				      dialogConfirm : '#dialog-confirm', //required
				      editModePopup : '#editMode-popup' //required
				    };	
			if (options) { 
		        $.extend(settings, options);
		    }
			initDialogs();
			createContextMenu();
			
			$("#builderBtn").click(function() {
				setDialogStateTo(DialogStates.BuildFormula);
			});		
		},
		show: function(model) {
			comingFromState = currentState = DialogStates.Normal;	
			Model = model;
			viewModel.callbacks.clearCallback = onResetCallback;
			viewModel.resetForm();
			this.dialog({ position: { my: "center", at: "center", of: $(window) } });
			this.dialog("open");		
		}
	};
	
	function onResetCallback() {
		if (tree != null) {
			tree.getSelectionModel().deselectAll(false);
			var rows = tree.getStore().getUpdatedRecords();
			for (var i=0; i<rows.length; i++) {
				rows[i].data["prior"] = false;
			}
			tree.getStore().sync();
		}
	}
	
	function createContextMenu() {
		var insertNewFormula = Ext.create('Ext.Action', {
	        icon	 : settings.imagesUrl + 'icon_insertnewformula.png',
	        text	 : 'Insert New Formula',
	        disabled : false,
	        handler  : function(widget, event) {
	        	setDialogStateTo(DialogStates.InsertNew);
	    		var a = new Array(Model.columns.length);
	        	editableStore.insert(formulaIndex, [a]);
	        }	
	    });
		
		var insertExistingFormula = Ext.create('Ext.Action', {
	        icon	 : settings.imagesUrl + 'icon_insertexistingformula.png',
	        text	 : 'Insert Existing Formula',
	        disabled : false,
	        handler  : function(widget, event) {	        	
	        	setDialogStateTo(DialogStates.InsertExisting);
	    		var a = new Array(Model.columns.length);
	        	editableStore.insert(formulaIndex, [a]);
	        }	
	    });
		
		overrideFormulaItem = Ext.create('Ext.Action', {
	        icon	 : settings.imagesUrl + 'icon_override.png',
	        text	 : 'Override with Existing Formula',
	        disabled : false,
	        handler  : function(widget, event) {	        	
	        	setDialogStateTo(DialogStates.Override);
	        }	
	    });
		
		overrideWithNewItem = Ext.create('Ext.Action', {
	        icon	 : settings.imagesUrl + 'icon_override_formula.png',
	        text	 : 'Override with New Formula',
	        disabled : false,
	        handler  : function(widget, event) {	 
	        	setDialogStateTo(DialogStates.OverrideWithNew);
	        	setEquationFields(editableStore.getAt(formulaIndex).data["rowInfo"], false);
	        }	
	    });
		
		removeOverrideFormulaItem = Ext.create('Ext.Action', {
	        icon	 : settings.imagesUrl + 'icon_deleteoverride.png',
	        text	 : 'Remove Override',
	        disabled : false,
	        handler  : function(widget, event) {
	        	$("#dialog-confirm").html("");
	        	$("#dialog-confirm").append("<p>The override will be removed. Are you sure?</p>");
	        	dialogConfirm.dialog('option', 'title', "Remove override?");
	        	dialogConfirm.dialog("open");
	        	currentState = DialogStates.RemoveOverride;
	        }	
	    });
    
	    deleteFormulaItem = Ext.create('Ext.Action', {
			icon     : settings.imagesUrl + 'icon_deleteformula.png',
			text     : 'Remove Formula',
			disabled : false,
			handler  : function(widget, event) {
				$("#dialog-confirm").html("");
				$("#dialog-confirm").append("<p>This formula will be removed from the report/graph you are editing. Are you sure?</p>");
				dialogConfirm.dialog('option', 'title', "Remove formula?");
				dialogConfirm.dialog("open");
				currentState = DialogStates.RemoveFormula;
			}	
		});
	   
	    editExistingItem = Ext.create('Ext.Action', {
			icon     : settings.imagesUrl + 'icon_editformula.png',
			text     : 'Edit Formula',
			disabled : false,
			handler  : function(widget, event) {
				setDialogStateTo(DialogStates.EditExisting);
				setEquationFields(editableStore.getAt(formulaIndex).data["rowInfo"], false);
			}	
		});
	    
		contextMenu = Ext.create('Ext.menu.Menu', {
	        items: [
	            insertNewFormula, insertExistingFormula, overrideFormulaItem, overrideWithNewItem, removeOverrideFormulaItem, deleteFormulaItem, editExistingItem
	        ]
	    });
	}
	
	var comingFromState;
	function setDialogStateTo(state) {
		comingFromState = currentState;
		currentState = state;
		var width = $(window).width() - 30 + 'px';
		if (state == DialogStates.Normal) {
			$("#newFormulaContainer").hide();
			$("#buildFormulaContainer").hide();
		    $("#existingEquationGrid").hide();
			animateDialog("510px", "center", "center", false);	
		//	existingEquationSelected = null;
			viewModel.resetForm();
			if (validator != null) {
				validator.resetForm();
			}
		} else if (state == DialogStates.InsertExisting || state == DialogStates.Override) {	
			$("#newFormulaContainer").hide();
		    $("#buildFormulaContainer").hide();	    
        	animateDialog(width, "left center", "left+15 center", true); 
        	$("#existingEquationGrid").show();
		} else if (state == DialogStates.InsertNew || state == DialogStates.EditExisting) {
			$("#existingEquationGrid").hide();
		    $("#buildFormulaContainer").hide();	    
			animateDialog("700px", "center", "center", true);
			if (validator != null)
				validator.form();
		} else if (state == DialogStates.BuildFormula) {
			$("#existingEquationGrid").hide();
		    $("#newFormulaContainer").hide();		    
			animateDialog(width, "left center", "left+15 center", true);		
		} else if (state == DialogStates.OverrideWithNew) {
			$("#existingEquationGrid").hide();
		    $("#buildFormulaContainer").hide();	    
			animateDialog("700px", "center", "center", true);  
			if (validator != null)
				validator.form();
		}	
	}
	
	function animateDialog(width, my, at, disable) {
		$(editDialog).dialog("widget").animate({
    	    width: width,
    	  }, {
    	  duration: Model.isGlobalEdit ? 600 : 350,
    	  step: function() {
    		  $(editDialog).dialog("option", "position", { my: my, at: at, of: $(window)});
    		  editableGrid.setDisabled(disable);
    	  },
    	  complete: function() {
    		  if (currentState == DialogStates.Normal)
    			  $("#existingEquationGrid").html("");
    		  if (currentState == DialogStates.InsertExisting || currentState == DialogStates.Override) {  
    			  getExistingEquations();
    		  } else if (currentState == DialogStates.InsertNew || currentState == DialogStates.OverrideWithNew || currentState == DialogStates.EditExisting) {
    			  $("#newFormulaContainer").show(); 
    		  } else if (currentState == DialogStates.BuildFormula) {
    			  viewModel.getTranslatedFormula();
    			  getExistingEquations();
    			  $("#buildFormulaContainer").show();
    			  createTabs();
    			  populateMetricGrid();
    		  }
    	  }
    	});	  
	}
	
	function setEquationFields(formula, referenceFormula) {
		viewModel.equationName(formula.name);
		viewModel.equation(referenceFormula ? formula.id + "F" : formula.formula);
		viewModel.selectedUnitType(formula.unitType);
		viewModel.decimals(formula.decimalPlaces);
		viewModel.smallerBetter(formula.isSmallerBetter);
		viewModel.definition(formula.definition);
	}
	
	function initDialogs() {
		dialogConfirm = $("#dialog-confirm").dialog({
	    	autoOpen : false,
  	    	resizable: false,
  	      	height: 180,
  	      	modal: true,
  	      	buttons: [{
  	      		"text" :'Cancel',
  	      		"click": function() {
  	      			$(this).dialog("close");
  	      		},
  	      		"class": 'cancel-button'
  	      	},
			{
				"text" : 'Ok',
				"class": "greenButton",
  	       		"click": function() {
  	       			if (currentState == DialogStates.RemoveFormula)
  	       				editableStore.removeAt(formulaIndex);
  	       			else if (currentState == DialogStates.RemoveOverride)
  	       				removeOverride();
  	       			$(this).dialog("close");
  	       		}
  	      	}],
  	      close : function() {
  	    	currentState = DialogStates.Normal;
			}	
        });
	      
		editDialog = $('#editMode-popup').dialog({
			autoOpen : false,
			resizable: false,
			height : 580,
			width : 510,
			modal : true,			
		    open: function()
	        {	
		    	populateEditableGrid();	
	        },        
	        
			buttons : [{
					"text":'Cancel',
					"click": function() {
		        		if (currentState == DialogStates.Normal)
		        			$(this).dialog("close");
		        		else if (currentState == DialogStates.InsertExisting || currentState == DialogStates.InsertNew) {
		        			editableStore.removeAt(formulaIndex);
		        			setDialogStateTo(DialogStates.Normal);
		        			$("#metricsGrid").html("");
		    				viewModel.clear();
		        		} else if (currentState == DialogStates.EditExisting) {
		        			setDialogStateTo(DialogStates.Normal);
		        			$("#metricsGrid").html("");
		    				viewModel.clear();
		        		} else if (currentState == DialogStates.Override || currentState == DialogStates.OverrideWithNew) {
		        			setDialogStateTo(DialogStates.Normal);
		        		}  else if (currentState == DialogStates.BuildFormula) {
		        			$("#metricsGrid").html("");
		    				viewModel.clear();
		    				if (comingFromState == DialogStates.EditExisting)
		    					viewModel.revert();
		        			setDialogStateTo(comingFromState);
		        		}
		        	},
		        	"class": 'cancel-button'
				},
				{
				    "text" : "Apply",
				    "class": "greenButton",
					"click" : function() {
					if (currentState == DialogStates.Normal) {											
						$(this).dialog("close");
						var rows = editableStore.getRange();
						var categoryId;
						var equationIds = new Array();
						var canSort = rows.length == 1;		
						for (var i=0; i<rows.length; i++) {
							var rowInfo = rows[i].data["rowInfo"];
							if (rowInfo == "") continue;
							if (rowInfo.isCategory) {
								if (canSort) {
									sortEquations(categoryId, equationIds);
									equationIds = [];
									canSort = false;
								}
								categoryId = rowInfo.id;
							} 
							else {
								equationIds.push(rowInfo.id);
								canSort = true;
							}						
						}
						if (canSort) {
							sortEquations(categoryId, equationIds);
							equationIds = [];
							canSort = false;
						}
						Model.onSortComplete(Model.pageIndex);							
					} else if (currentState == DialogStates.InsertExisting) {	           	       
		           	     if (!Model.isGlobalEdit) {
		         			setDialogStateTo(DialogStates.Normal);
		         			setDialogStateTo(DialogStates.InsertNew);
		         			setEquationFields(existingEquationSelected, true);
	         			} else {
	         				insertEquation(existingEquationSelected);
	         				setDialogStateTo(DialogStates.Normal);
	         			}
					} else if (currentState == DialogStates.Override) {
						overrideFormula();
						setDialogStateTo(DialogStates.Normal);
					} else if (currentState == DialogStates.InsertNew || currentState == DialogStates.OverrideWithNew || currentState == DialogStates.EditExisting) {
						var id = -1;
						if (currentState == DialogStates.EditExisting)
							id = editableStore.getAt(formulaIndex).data.rowInfo.id;
						var id = validateForm(Model.companyId, id);
						if (id != -1) {
							var equation =  {id: parseInt(id), name: viewModel.equationName(), formula: viewModel.equation(), isSmallerBetter: viewModel.smallerBetter(), 
									unitType: viewModel.selectedUnitType(), decimalPlaces: viewModel.decimals(), global: Model.isGlobalEdit, override: false, definition: viewModel.definition() } 
							if (currentState == DialogStates.OverrideWithNew) {
		    					overrideFormula(equation);
		    				} else
								insertEquation(equation);
							setDialogStateTo(DialogStates.Normal);
						}
						$("#metricsGrid").html("");
	    				viewModel.clear();
	    				
					} else if (currentState == DialogStates.BuildFormula) {
						if (viewModel.apply())
							setDialogStateTo(comingFromState);
						else 
							alert("Invalid formula format.");
					}
				}
			}],
			close : function() {
				reset();
				if (typeof Model.onExit != "undefined")
        			Model.onExit();
			}		        	
	    
		});	
	}

	
	 function sortEquations(id, equationIds) {
	    	if (equationIds == null) return;
			var url = Model.sortEquationsUrl + id + "/equations?companyId=" + Model.companyId;
			if (Model.isGraph) {
				url = Model.sortEquationsUrl;
			}
			$.ajax({
				url :  url,
				data : JSON.stringify(equationIds),
				type : "put",
				async : false,
				contentType: "application/json; charset=utf-8",
				success : function(result) {
					
				},
				error : function(request, status, error) {
					alert(request.responseText);
				}
			});			
	}
	
	function reset() {
		$('#editableGrid').html("");
		$("#existingEquationGrid").html("");
		$("#existingEquationGrid").hide();
		$("#newFormulaContainer").hide();
		$("#buildFormulaContainer").hide();
		if (validator != null) {
			validator.resetForm();
		}
		$("#metricsGrid").html("");
		viewModel.clear();
	}
	
	function createTabs() {
		if (metricTabs == null) { 
			metricTabs = Ext.widget('tabpanel', {
	       		renderTo: 'metricTabs',
	       	 	width: 450,
	       	 	height:398,
	       	 	plain: true,
	       	 	activeTab: 0,
	       	    deferredRender:false,
	       	 	items: [{
	       	     	contentEl:'metricsGrid', 
	       	     	title: 'Metric',
	       	        listeners: {
	                    activate: function(tab){
	                       viewModel.priorPeriodEnable(true);
	                    }
	                }
	      	  	},{
	            	contentEl:'existingFormulaGrid', 
	       	     	title: 'Formula',
	       	    	listeners: {
	                    activate: function(tab){
	                       viewModel.priorPeriodEnable(false);
	                    }
	                }
	       	 	}]
	    	});
		}
		metricTabs.setActiveTab(0);
		
		if (editTabs == null) { 
			editTabs = Ext.widget('tabpanel', {
	       		renderTo: 'editTabs',
	       	 	width: 500,
	       	 	height:300,
	       	 	activeTab: 0,
	       	    plain: true,
	       	    //deferredRender:false,
	       	 	items: [{
	       	     	contentEl:'metricEditText', 
	       	     	title: 'Metric'
	      	  	},{
	            	contentEl:'formulaEditText', 
	       	     	title: 'Formula'
	       	 	}]
	    	});
		}
		editTabs.setActiveTab(0);
	}
	
	function populateMetricGrid() {
		var metrics
		$.ajax({
			url : '${getMetrics}',
			cache : false,
			dataType : 'json',
			type: 'get',
			async : false,
			global: false,
			success : function(m) {
				metrics = m;
			},
			error: function(result) {
				alert("An error occurred while retrieving data.");
			}
		});
		
		$.ajax({
			url : '${getChildCategories}',
			cache : false,
			dataType : 'json',
			type: 'get',
			async : false,
			global: false,
			success : function(categories) {
				var data = {text:".", children: []};		
				for (var i=0; i<categories.length; i++) {
					data["children"].push({ id:categories[i].id, name: categories[i].name, accountCode: categories[i].fullAccountCode,leaf:false, children: []});
					for (var j=0; j<metrics.length; j++) {
						if (metrics[j].parentId == categories[i].id) {
							data["children"][i]["children"].push({ id: metrics[j].id, name: metrics[j].name, accountCode: metrics[j].accountCode, leaf:true});
						}
					}
				}
				Ext.define('Metric', {
		 		    extend: 'Ext.data.Model',
		 		    fields: ['id','name','accountCode', {name:"prior", type:"boolean"}]
		 		});
				
				var dataSource = JSON.stringify(data);
				var store = Ext.create('Ext.data.TreeStore', {			
		 			model: 'Metric',
		 		   	proxy: {
		 			   data:data,
		 	           type: 'memory',		 	       
		 	        }
		 		});
				
		 	    tree = Ext.create('Ext.tree.Panel', {
		 			width: 448,
		 			height: 373,
		 	        renderTo: "metricsGrid",
		 	        collapsible: false,
		 	        useArrows: true,
		 	        rootVisible: false,
		 	        store: store,
		 	        multiSelect: true,
		 	        singleExpand: false,
		 	        viewConfig: {
				        toggleOnDblClick: false
		 	     	},
		 	        listeners: {
		 		    	selectionchange: function(view, selected, eOpts) {            
		 		        	viewModel.selectedUnits([]);
		 		            for (var i=0; i<selected.length; i++) {
		 		            	var data = selected[i].data;
		 		                var type = data["leaf"] == true ? "METRIC" : "CATEGORY";
		 		                viewModel.selectedUnits.push(new Unit(data["name"], data["accountCode"], type));
		 		            }          
		 		        },
		 		        itemdblclick: function(view, record, item, index, e, eOpts ) {
		 		        	if (viewModel.canInsert()) {
			 		           	viewModel.selectedUnits([]);		 		           
			 		            var data = record.data;
			 		            var type = data["leaf"] == true ? "METRIC" : "CATEGORY";
			 		            viewModel.selectedUnits.push(new Unit(data["name"], data["accountCode"], type));
			 		            viewModel.addToEquationUnits();
		 		        	}
		 		         }
		 		    },
		 		    columns: [{
		 		    	xtype: 'treecolumn',
		 		        text: 'Name',
		 		        flex: 1,
		 		        sortable: true,
		 		        dataIndex: 'name'
		 		   	}]
		 		});
			},
			error: function(result) {
				alert("An error occurred while retrieving data.");
			}
		});
	}
	
	function populateEditableGrid() {
		$('#editableGrid').html("");
		editableStore = Ext.create('Ext.data.ArrayStore', {
			fields: Model.fields,
			data: Model.data,
		});
    		
    	var column = Model.columns[0];
   		column.width = 400;
   		column.locked = false;
   		var columns = new Array();
   		columns.push({
   			xtype:'actioncolumn',
    	    width:25,
            items: [{
            	icon: settings.imagesUrl + 'icon_update.png', 
            	tooltip: 'Edit',		    		             		    		                
            	getClass: function(v, meta, rec) {      
            		var rowInfo = rec.data['rowInfo'];
            		if (rowInfo != "" && rowInfo.isCategory) {
            			return 'x-icon-hide';
            		} else {
            			return 'x-icon-show';
            		}
            	},
            	handler: function(grid, rowIndex, colIndex, item, e, rec) {
            		var formula = rec.data['rowInfo'];
            		if (formula.isGlobal) {
            			if (Model.isGraph)
            				deleteFormulaItem.setHidden(false);
            			else
            				deleteFormulaItem.setHidden(!Model.isGlobalEdit || formula == "" || formula.isOverride);
            			overrideFormulaItem.setHidden(formula.isOverride || Model.isGlobalEdit || formula == "");
            			overrideWithNewItem.setHidden(formula.isOverride || Model.isGlobalEdit || formula == "");
            			removeOverrideFormulaItem.setHidden(!formula.isOverride || Model.isGlobalEdit || formula == "");
            			editExistingItem.setHidden(!Model.isGlobalEdit || formula == "");
            		}
            		else {
            			deleteFormulaItem.setHidden(Model.isGlobalEdit || formula == "" || formula.isOverride);
            			removeOverrideFormulaItem.setHidden(!formula.isOverride || formula == "");
            			overrideFormulaItem.setHidden(true);
            			overrideWithNewItem.setHidden(true);
            			editExistingItem.setHidden(Model.isGlobalEdit || formula == "");
            		}
            		e.stopEvent();
            		contextMenu.showAt(e.getXY());
            		formulaIndex = rowIndex;
            	}		    		            
            }]
    	});
    	columns.push(column);
    	columns.push({
    		xtype:'actioncolumn',
    		width:25,
    		items: [{
    			icon: settings.imagesUrl + 'icon_draganddrop.png',
    			tooltip: 'Drag & Drop',
    			getClass: function(v, meta, rec) {      
    				var rowInfo = rec.data['rowInfo'];
    				if (Model.isGlobalEdit) {
    					if (rowInfo == "" || rowInfo.isCategory || !rowInfo.isGlobal || rowInfo.isOverride) {
        					return 'x-icon-hide';
        				} else {
        					return 'x-icon-show';
        				}
    				} else {
    					if (rowInfo == "" || rowInfo.isCategory || (rowInfo.isGlobal && !Model.isGraph) || (rowInfo.isOverride && !Model.isGraph)) {
    						return 'x-icon-hide';
    					} else {
    						return 'x-icon-show';
    					}
    				}
    			}
    		}]
    	});

    	editableGrid = Ext.create('Ext.grid.Panel', {
         	store : editableStore,
           	columnLines : true,
           	selType : 'rowmodel',
           	columns : columns,
           	width : 470,
           	height : 460,
           	renderTo: 'editableGrid',
           	viewConfig: {
           		plugins: {
           			ptype: 'gridviewdragdrop',
                    onViewRender : initializeDragDropZone
                }
    	    },
        });
	}
	
	function getExistingEquations() {
		var isInsertExisting = currentState == DialogStates.InsertExisting;
		var isOverriding = currentState == DialogStates.Override;
		var isInsertExistingOrOverriding = isInsertExisting || isOverriding;
		var url
		if (isInsertExisting)
			url = Model.isGlobalEdit ? Model.globalEquationsUrl : "${getGlobalCDFIFormulas}/" + Model.companyId;
		else if (isOverriding)
			url = Model.isGlobalEdit ? Model.globalEquationsUrl : "${getLocalCDFIFormulas}/" + Model.companyId;
		else 
			url = Model.isGlobalEdit ? "${getGlobalCDFIFormulas}/0" : "${getGlobalCDFIFormulas}/" + Model.companyId; 
		$.ajax({
			url : url,
			cache : false,
			dataType : 'json',
			type: 'get',
			async : false,
			global: false,
			success : function(data) {
				$("#existingEquationGrid").html("");
				$("#existingFormulaGrid").html("");
				var columns = new Array();
				var fields = new Array();
				for (var k in data[0]) {
					if (k =="name" || (k =="formula" && isInsertExistingOrOverriding)) {
						var c ={ 
								text : k.charAt(0).toUpperCase() + k.slice(1),
								sortable : true,						   
								align : 'left',								
								flex : k=="formula" ? 1 : 0,
								dataIndex : k,
								width:400,
								renderer : k =="name" ? function(value, metadata,record) {
                                    return getTooltip(value, metadata,record);
								} : null
						}; 
						if (k == "name" && isInsertExistingOrOverriding) { c.width=200;}
						columns.push(c);
					}
					fields.push(k);
				}
				columns.push({
		    		xtype:'actioncolumn',
		    		width:25,
		    		items: [{
		    			text: "Global",
		    			icon: settings.imagesUrl + 'world.png',
		    			getClass: function(v, meta, rec) {
		    				if (!rec.data['global']) {
		        				return 'x-icon-hide';
		        			} else {
		        				return 'x-icon-show';
		        			}
		    			}
		    		}]
		    	});
				
				var dataSource = new Array();
				var x=0;
				var y=0;
				var skip = false;
				for (var i=0; i<data.length; i++) {
					for (var j=0; j<editableStore.data.items.length; j++) {
						skip = data[i].id == editableStore.data.items[j].data["rowInfo"].id;
						if (skip)
							break;
					}
					if (skip) continue;
					dataSource[x] = new Array();
					for (var k in data[i]) {
						dataSource[x][y++] = data[i][k];
					}
					x++;
					y=0;					
				}
				
				var store = Ext.create('Ext.data.ArrayStore', {
					fields: fields,
					data: dataSource
				});
				populateExistingEquationsGrid(store, columns, isInsertExistingOrOverriding);
			},
			error : function(request, status, error) {
				alert("An error occurred while retrieving existing equations.");
			}
		});
	}
	
	function getTooltip(value, metaData,record){
	    var deviceDetail = record.get('formula');
	    metaData.tdAttr = 'data-qtip="' + deviceDetail + '"';
	    return value;
	}
	
	function populateExistingEquationsGrid(store, columns, isInsertExisting) {	
		var grid = Ext.create('Ext.grid.Panel', {
			//cls: "custom-grid",
		    store : store,
		    columnLines : true,
		    selType : 'rowmodel',
		    columns : columns,
		    width: isInsertExisting ? $(window).width() - 130 - editableGrid.width : 448,
		    height : isInsertExisting ? 460 : 373,
		    renderTo: isInsertExisting ? 'existingEquationGrid' : 'existingFormulaGrid',
		    listeners : {
		    	itemdblclick: function(dv, record, item, index, e) {
		    		if (isInsertExisting){
			       		existingEquationSelected = record.data;
			   			var buttons = $(editDialog).dialog( "option", "buttons" );
			       		buttons[1].click();
		    		} else {
		    			if (viewModel.canInsert()) {
		 		           	viewModel.selectedUnits([]);		 		           
		 		            var data = record.data;
		 		            viewModel.selectedUnits.push(new Unit(data["name"], data["id"], "FORMULA"));
		 		            viewModel.addToEquationUnits();
	 		        	}
		    		}
		    	},
		    	selectionchange: function(view, selected, eOpts) { 
		    		if(!isInsertExisting) {
	 		        	viewModel.selectedUnits([]);
	 		            for (var i=0; i<selected.length; i++) {
	 		            	var data = selected[i].data;
	 		               viewModel.selectedUnits.push(new Unit(data["name"], data["id"], "FORMULA"));
	 		            }          
		    		}
 		        },
		    	itemclick: function(dv, record, item, index, e) {
		    		if (isInsertExisting)
		    			existingEquationSelected = record.data;
				}
		     },
		     viewConfig: {
		     	stripeRows: true
		     },
		     tbar : [{
			     	xtype:'textfield', 
			    	width: isInsertExisting ? 400 : 300,
			    	height: 22,
			        fieldLabel:"Filter by Name:",
	     	        enableKeyEvents:true, 
		            listeners:{
			    		keyup:{
		   	            	fn:function(textfield){
			             		this.ownerCt.ownerCt.store.filterBy(function(record){
			    	            	var name = record.data.name.toLowerCase();
			    	                if(name.indexOf(textfield.getValue().toLowerCase()) >= 0){
			    	                	return true;
			    	                }
			    	                else return false;
			    	            });
			    	         }
			    		}
		            }
			   	 }]	   	 
		});
	}
	
	function insertEquation(equation) {
		if (equation == null) {
			editableStore.removeAt(formulaIndex);
			return;
		}
				
		editableStore.removeAt(formulaIndex);
		var model = new Array();
		model[0] = new Array(2);
		var name = Model.isGraph ? equation.name : "<span style=\"padding:15px\"></span>" + equation.name;
		model[0][0] = name;
		model[0][1] = {name:equation.name, formula: equation.formula, isCategory : false, id : equation.id, isGlobal: equation.global, isOverride: equation.override,
						decimalPlaces: equation.decimalPlaces, unitType: equation.unitType, isSmallerBetter: equation.isSmallerBetter, definition: equation.definition};
						
		editableStore.insert(formulaIndex, model);
	}
	
	function overrideFormula(equation) {
		if (typeof equation != "undefined") {
			existingEquationSelected = equation;
		}
		
		var globalEquationId = editableStore.getAt(formulaIndex).data["rowInfo"].id;
		$.ajax({
			url :  Model.overrideEquationUrl + existingEquationSelected.id + "/override/" + globalEquationId,
			type : "put",
			async : false,
			global: false,
			contentType: "application/json; charset=utf-8",
			success : function(result) {
				existingEquationSelected.override = true;
				insertEquation(existingEquationSelected);
			},
			error : function(request, status, error) {
				alert("An error occurred while overriding a formula.");
			}
		});				
	}
	
	function removeOverride() {	
		var rowInfo = editableStore.getAt(formulaIndex).data["rowInfo"];
		$.ajax({
			url :  Model.overrideEquationUrl + rowInfo.id + "/removeOverride/",
			type : "get",
			async : false,
			global: false,
			success : function(result) {
		    	insertEquation(result);
			},
			error : function(request, status, error) {
				alert("An error occurred while removing override.");
			}
		});				
	}
	
	function initializeDragDropZone(view) {
		var me = this,
		scrollEl;
		if (me.enableDrag) {
			if (me.containerScroll) {
				scrollEl = view.getEl();
			}                   
			me.dragZone = new Ext.view.DragZone({
				view: view,
				ddGroup: me.dragGroup || me.ddGroup,
				dragText: me.dragText,
				containerScroll: me.containerScroll,
				scrollEl: scrollEl,
				//to remember if the row was selected originally or not
				onBeforeDrag: function(data, e) {                            
					var me = this,                               
					view = data.view,
					record = view.getRecord(data.item);
					var rowInfo = record.data['rowInfo'];
					if(Model.isGlobalEdit) {
						if (rowInfo == "" || rowInfo.isCategory || !rowInfo.isGlobal || rowInfo.isOverride)
							return false;
						return true;
					} 
					if (rowInfo == "" || rowInfo.isCategory || (rowInfo.isGlobal && !Model.isGraph) || (rowInfo.isOverride && !Model.isGraph))
						return false;
					return true;
				},

				onInitDrag: function(x, y) {
					var me = this,
					data = me.dragData,
					view = data.view,
					selectionModel = view.getSelectionModel(),
					record = view.getRecord(data.item);
					//for deselect the dragged record
					if (selectionModel.isSelected(record) && data.rowSelected == false) {
						selectionModel.deselect(record, true);                                
					}
					//added the original row so it will handle that in the drag drop
					data.records = [record];                            
					me.ddel.update(me.getDragText());
					me.proxy.update(me.ddel.dom);
					me.onStartDrag(x, y);
					return true;
				}
			});
		}

		if (me.enableDrop) {
			me.dropZone = new Ext.grid.ViewDropZone({
				view: view,
				ddGroup: me.dropGroup || me.ddGroup,
				//changed the selection at the end of this method
				handleNodeDrop : function(data, record, position) {
					var view = this.view,
					store = view.getStore(),
					index, records, i, len;

					if (data.copy) {
						records = data.records;
						data.records = [];
						for (i = 0, len = records.length; i < len; i++) {
							data.records.push(records[i].copy());
						}
					} else {                                
						data.view.store.remove(data.records, data.view === view);
					}                    
					if (record && position) {
						index = store.indexOf(record);
						if (position !== 'before') {
							index++;
						}
						store.insert(index, data.records);
					}                            
					else {
						store.add(data.records);
					}
					if (view != data.view) {
						view.getSelectionModel().select(data.records);
					}                                                   
				}
			});
		}
		
	}
	
	var createUpdateUrl;
	var newFormulaId;
	function validateForm(companyId, formulaId) {
		var definitionSize = $("#definition").val().length;
		if (definitionSize > 1000) {
			$("#error_message").text("Definition lenght should be no more than 1000 chars");
			return -1;
		} else {
			$("#error_message").text("");
		}
		
		newFormulaId = formulaId;
		if (companyId == "")
			companyId = 0;
		var myform = $("#createFormulaForm");
		createUpdateUrl = formulaId != -1 ? "${updateFormula}" + formulaId + "/updateFormula/" + companyId : '${createFormula}/' + companyId;
		validator = myform.validate({
		    rules: {
		        name: {
		            required: true
		        },
		        formula: {
		            required: true
		        }
		    },		  
		    submitHandler: function (form) {
		    	var button = $(editDialog).dialog('option', 'buttons')[1];
		    	$(button).attr("disabled", true);
		    	$.ajax({
					url : createUpdateUrl,
					data : myform.serialize(),
					type : "post",
					async: false,
					global: false,
					success : function(result) {
						newFormulaId = result;
						$(button).attr("disabled", false);
					},
					error : function(result) {
						alert('Create Equation Failed');
						$(button).attr("disabled", false);
					}
				});	
		        return false;
		    }
		});
		myform.submit();
	    return newFormulaId;
	}

	$.fn.editMode = function(method, options) {		
		if (methods[method]) {
			return methods[method].apply(this, Array.prototype.slice.call(arguments, 1));
		} else if (typeof method === 'object' || !method) {
		    return methods.init(options);
		} else {
		    $.error('Method ' +  method + ' does not exist on jQuery.editMode');
		}    
	}

	$.extend({
		editMode: $.fn.editMode
	});
})(jQuery);

$(function() {
	// EXT-JS  
	
	Ext.require([
	    'Ext.grid.*',
	    'Ext.data.*',
	    'Ext.util.*',
	    'Ext.state.*',
	    'Ext.Action',
	    'Ext.tab.*',
	    'Ext.tree.*'
	]);
	
	viewModel = new AppViewModel();
	viewModel.vali
	ko.applyBindings(viewModel);
});	

// OPERATOR
// CURSOR
// METRIC
// CATEGORY
// MONTH
// START_GROUPING
// END_GROUPING

function Unit(textValue, numericValue, type) {
	this.textValue = textValue;
	this.numericValue = numericValue;
	this.type = type;
	this.width = type != "CURSOR" ? "auto" : "10px";

}

function AppViewModel() {
	
	var $cell = null;
	var originalUnits;
	var original = true;
	var editIndex = ko.observable(-1);
	var selectedUnit = ko.observable(null);
	var self = this;
	self.callbacks = {clearCallback : null};
	self.unitTypes = ko.observableArray([]);
	self.decimalPlaces = ko.observableArray([]);
	self.equationName = ko.observable();
	self.equation = ko.observable();
	self.selectedUnitType = ko.observable();
	self.decimals = ko.observable();
	self.smallerBetter = ko.observable(false);
	self.definition = ko.observable();
	
	self.selectedUnits = ko.observableArray([]);
	self.lastActionWasOperator = ko.observable(true);
	self.numericInput = ko.observable("");
	self.isPriorPeriod = ko.observable(false);
	self.priorPeriodEnable = ko.observable(true);
	self.isParen = ko.observable(false);
	self.isInserting = ko.observable(false);
	
	//display
	self.equationUnits = ko.observableArray([]);
	$.ajax({
		url : '${getUnitTypes}',
		dataType : 'json',
		async : false,
		cache: false,
		success : function(data) {
			ko.mapping.fromJS(data, {}, self.unitTypes);	
		}
	});
	$.ajax({
		url : '${getDecimalPlaces}',
		dataType : 'json',
		async : false,
		cache: false,
		success : function(data) {
			ko.mapping.fromJS(data, {}, self.decimalPlaces);	
		}
	});
	
	self.getTranslatedFormula = function() {	
	    $.ajax({
			url : "${translate}",
			data : self.equation(),
			type : "post",
			contentType : "application/json",
			success : function(data) {
				self.clear();
				var equationUnits = new Array();
				
				for (var i=0; i<data.length; i++) {
					equationUnits.push(new Unit(data[i].textValue, data[i].numericValue, data[i].type))
					equationUnits.push(new Unit(" ", "", "CURSOR"));
				}
				
				self.equationUnits(equationUnits);
				originalUnits = equationUnits;
				determineNextValidAction();
			},
			error : function(result) {
				alert('Equation Translation Failed.');
			}
		});
	}
	
	self.canInsert = ko.computed(function() {
		return (self.selectedUnits().length > 0 || self.numericInput() != "") && self.lastActionWasOperator();
	});
	
	self.clear = function() {
		self.finishEdit();
		self.equationUnits([]);
		self.selectedUnits([]);
		self.lastActionWasOperator(true);
		self.isPriorPeriod(false);
		if (self.callbacks.clearCallback != "undefined") {
			self.callbacks.clearCallback();
		}
	}
	
	self.addToEquationUnits = function() {
		if (self.numericInput() != "") {
			var value = self.numericInput();				
			self.numericInput("");
			
			value = value.match(/\d+(#|P){0,1}/);
			if(value != null ){
				var unit = new Unit(value[0], value[0], "VALUE");

				if (editIndex() > -1) {
					if (self.isInserting())
						doInsert(unit);
					else
						replaceUnit(unit);
				} else {
					self.equationUnits.push(unit);
					self.equationUnits.push(new Unit(" ", "", "CURSOR"));
					self.lastActionWasOperator(false);
				}
			}	
		} else {
			if (self.selectedUnits().length == 1) {
				ko.utils.arrayForEach(self.selectedUnits(), function(item) {
					if (item.type == "FORMULA")
						item.numericValue += "F";
					else
						item.numericValue += self.isPriorPeriod() ? "P" : "#"; 
					if (editIndex() > -1) {
						if (self.isInserting())
							doInsert(item);
						else
							replaceUnit(item);
					} else {
						self.equationUnits.push(item);
						self.equationUnits.push(new Unit(" ", "", "CURSOR"));
						self.lastActionWasOperator(false);
					}
				});
			} else if (self.selectedUnits().length > 1) {
				var counter = 0;
				ko.utils.arrayForEach(self.selectedUnits(), function(item) {
					var operatorUnit = new Unit("+", "+", "OPERATOR");
					item.numericValue += self.isPriorPeriod() ? "P" : "#"; 
					if (editIndex() > -1) {
						replaceUnit(item);
					} else {
						self.equationUnits.push(item);
						self.equationUnits.push(new Unit(" ", "", "CURSOR"));
						self.lastActionWasOperator(true);
					}
					if (counter < self.selectedUnits().length - 1) {
						self.equationUnits.push(operatorUnit);
						self.equationUnits.push(new Unit(" ", "", "CURSOR"));
					}
					counter++;
				});
				
			}
		}
		self.isPriorPeriod(false);
		if (self.callbacks.clearCallback != "undefined") {
			self.callbacks.clearCallback();
		}
	}
	
	self.addOperator = function(operator){
		var unit = new Unit(operator, operator, "OPERATOR");
		if (editIndex() > -1) {
			if (self.isInserting())
				doInsert(unit);
			else
				replaceUnit(unit);
		} else {
			self.lastActionWasOperator(true);
			self.equationUnits.push(unit);
			self.equationUnits.push(new Unit(" ", "", "CURSOR"));		
		}
	}
	
	self.addMonth = function() {
		var unit = new Unit("MONTH", "MONTH", "MONTH");	
		if (editIndex() > -1) {
			if (self.isInserting())
				doInsert(unit);
			else
				replaceUnit(unit);
		} else {
			self.equationUnits.push(unit);
			self.equationUnits.push(new Unit(" ", "", "CURSOR"));
			self.lastActionWasOperator(false);
		}
	}
	
	self.startGroupingVisible = ko.computed(function() {
		if (self.equationUnits().length > 1) {
			var unit = self.equationUnits()[self.equationUnits().length - 2];
			if (editIndex() > -1) {
				var i = self.isInserting() ? 1 : 0; 
				unit = self.equationUnits()[editIndex() - i];
				
				if (self.isInserting()) {
					if ((unit.type == "METRIC" || unit.type == "CATEGORY")) {
						return false;
					}
					if (unit.type == "OPERATOR") {
						return true;
					}
					if (unit.type == "START_GROUPING") {
						return true;
					}
				} else {
					if (unit.type == "OPERATOR" || unit.type == "END_GROUPING") {
						return false;
					}
				}
				
			} else {
				if (!(unit.type == "OPERATOR" || unit.type == "START_GROUPING")) {
					return false;
				}
			}
		}
		return true;
	});
				
	self.endGroupingVisible = ko.computed(function() {
		if (self.equationUnits().length > 1) {
			var pre = 0;
			var post = 0;
	
			// get loop stop
			var index = self.equationUnits().length;
	
			// change loop stop/start if an unit selected
			if (editIndex() > -1) {
				index = editIndex();
			}
			// get parens balance before selected unit or whole equation
			for ( var i = 0; i < index; ++i) {
				if (self.equationUnits()[i].textValue == "(") {
					++pre;
				} else if (self.equationUnits()[i].textValue == ")") {
					--pre;
				}
			}
	
			// get parens balance after selected unit
			for ( var i = self.equationUnits().length - 1; i >= index; --i) {
				if (self.equationUnits()[i].textValue == "(") {
					--post;
					if (post < 0) {
						post = 0;
					}
				} else if (self.equationUnits()[i].textValue == ")") {
					++post;
				}
			}
	
			// if parens exists, check if the selected/last unit is an operator and display if it is not one
			if (pre > 0 && (pre - post > 0)) {
				var unitText;
				if (editIndex() > -1) {
					unitText = self.equationUnits()[editIndex()].textValue;
				} else {
					unitText = self.equationUnits()[self.equationUnits().length - 2].textValue;
				}
	
				if (!(unitText == "+" || unitText == "-" || unitText == "*" || unitText == "/" || unitText == "(")) {
					return true;
				}
			}
		}
		return false;
	});
				
	self.startGrouping = function() {

		var unit = new Unit("(", "(", "START_GROUPING");

		if (editIndex() > -1) { // if in edit mode
			if (self.isInserting())
				doInsert(unit);
			else {
				self.equationUnits.splice(editIndex(), 0, unit);
				self.equationUnits.splice(editIndex()+1, 0, new Unit(" ", "", "CURSOR"));
				editIndex(editIndex() + 2);
			}
		} else // add to the end
		{
			self.equationUnits.push(unit);
			self.equationUnits.push(new Unit(" ", "", "CURSOR"));
		}
	}
	
	self.endGrouping = function() {

		var unit = new Unit(")", ")", "END_GROUPING");
		if (editIndex() > -1) { // if in edit mode and not the last unit
			if (self.isInserting())
				doInsert(unit);
			else {
				self.equationUnits.splice(editIndex() + 2, 0, unit);
				self.equationUnits.splice(editIndex() + 3, 0, new Unit(" ", "", "CURSOR"));
			}
		} else {
			self.equationUnits.push(unit);
			self.equationUnits.push(new Unit(" ", "", "CURSOR"));
		}
	};
	
	self.revert = function() {
		if (original) {
			self.equationUnits(originalUnits);
			var equation = "";
			ko.utils.arrayForEach(self.equationUnits(), function(item) {
				equation += item.numericValue;
			});
			self.equation(equation);
		}
		original = true;
		determineNextValidAction();
	}
	
	self.apply = function() {
		//balance parens
		var i = 0;
		var balance = 0;
		for (; i < self.equationUnits().length; ++i) {
			if (self.equationUnits()[i].textValue == "(") {
				++balance;
			} else if (self.equationUnits()[i].textValue == ")") {
				--balance;
			}
		}

		while (balance > 0) {
			self.equationUnits.push(new Unit(")", ")", "END_GROUPING"));
			self.equationUnits.push(new Unit(" ", "", "CURSOR"));
			--balance;
		}

		//strip empty parens
		if (self.equationUnits().length > 0) {
			for (i = 0; i < self.equationUnits().length - 1;) {
				if (self.equationUnits()[i].type == "START_GROUPING"&& self.equationUnits()[i + 1].type == "END_GROUPING") {
					self.equationUnits.remove(self.equationUnits()[i + 1]);
					self.equationUnits.remove(self.equationUnits()[i]);
					if (i > 0) {
						--i;
					}
				} else {
					++i;
				}
			}
		}

		//strip trailing operator
		var length = self.equationUnits().length - 2;
		if (length > -1) {
			while (self.equationUnits()[length].textValue == ")") {
				--length;
			}
			if (self.equationUnits()[length].type == "OPERATOR") {
				self.equationUnits.remove(self.equationUnits()[length]);
				self.lastActionWasOperator(false);
			}
		}

		var equation = "";
		ko.utils.arrayForEach(self.equationUnits(), function(item) {
							equation += item.numericValue;
						});
		
		
		var curr = null;
		var valid = true;
		$.each(self.equationUnits(), function(index, item) {
			if (item.type != "CURSOR") {
				var prev = curr;
			    curr = item;
			    if (prev != null) {
			    	//case * +
					if (prev.type == curr.type && curr.type == "OPERATOR"){  
						valid = false;
						self.lastActionWasOperator(true);
					}
			    	//case 1000# (
			    	else if ((prev.type == "METRIC" || prev.type == "CATEGORY" || prev.type == "MONTH") && curr.type == "START_GROUPING") {
						valid = false;
						self.lastActionWasOperator(false);
					}
					//case ) 1000#
					else if (prev.type == "END_GROUPING" && (curr.type == "CATEGORY" || curr.type == "METRIC" || curr.type == "MONTH")) {
						valid = false;
						self.lastActionWasOperator(false);
					}
					//case ( *
					else if (prev.type == "START_GROUPING" && curr.type == "OPERATOR") {
						valid = false;
						self.lastActionWasOperator(false);
					}
					//case  * )
					else if (prev.type == "OPERATOR" && curr.type == "END_GROUPING") {
						valid = false;
						self.lastActionWasOperator(true);
					}
					//case MONTH 1000#
					else if (prev.type == "MONTH" && (curr.type == "METRIC" || curr.type == "CATEGORY" || curr.type == "MONTH")) {
						valid = false;
						self.lastActionWasOperator(false);
					}					
					//case 1000# MONTH
					else if ((prev.type == "METRIC" || prev.type == "CATEGORY" || prev.type == "MONTH") && curr.type == "MONTH") {
						valid = false;
						self.lastActionWasOperator(false);
					}
					//case MONTH (
					else if (prev.type == "MONTH" && curr.type == "START_GROUPING") {
						valid = false;
						self.lastActionWasOperator(false);
					}
					if (!valid) {
						removeBlink();
						editIndex(index-1);						
						$cell = $("#" + editIndex()).addClass("equationSelected");	
						addBlink();
						self.isInserting(true);
						
						return false;
					}
			    }
			}
		});
		
		original = false;
		if (valid) {
			self.equation(equation);
			original = true;
		}
		return valid;
	}
	
	self.undo = function() {
		self.finishEdit();
		var length = self.equationUnits().length - 1
		if (length > -1) {
			var removed = self.equationUnits.splice(length-1, 2);
			if (removed[0].type == "OPERATOR") {
				self.lastActionWasOperator(false);
			} else 
				self.lastActionWasOperator(true);
		}
	}
	
	self.isEditMode = ko.computed(function() {
		return editIndex() > -1;
	});
	
	var blink;
	self.startEdit = function(data, event) {
		self.isInserting(false);
		selectedUnit(data);
		editIndex(self.equationUnits().indexOf(data));
		
		if ($cell != null) {
			removeBlink();
			$cell.addClass("equation");		
		}
		$cell = $(event.target).addClass("equationSelected");
		addBlink();
		
		if (self.equationUnits().indexOf(data) == self.equationUnits().length - 1) {
			self.finishEdit();	
			return;
		}
		
		if (selectedUnit().type == "CURSOR" && self.equationUnits().indexOf(data) != self.equationUnits().length - 1) {
			insert();
			return;
		}
		
		if (data.type == "OPERATOR") {
			self.lastActionWasOperator(false);
		} else {
			self.lastActionWasOperator(true);
		}

		if(selectedUnit().textValue =="(" || selectedUnit().textValue ==")"){
			self.isParen(true);
		}else{
			self.isParen(false);
		}
		
		
	}
	
	function addBlink() {
		if ($cell != null) {
			blink = setInterval(function(){
		    	$cell.toggleClass("equationSelected");
			},400);
		}
	}
	
	function removeBlink() {
		clearInterval(blink);
		if ($cell != null)
			$cell.removeClass("equationSelected");
	}
	
	self.finishEdit = function() {
		editIndex(-1);
		self.isParen(false);
		self.isInserting(false);
		removeBlink();		
					
		determineNextValidAction();
	}
	
	function insert() {
		self.isInserting(true);
		var prevUnit = null;
		var index = editIndex();
		if (index > 0)
			prevUnit = self.equationUnits()[index - 1];
		
		if (prevUnit != null) {
			if (prevUnit.type == "METRIC" || prevUnit.type == "CATEGORY" || prevUnit.type == "MONTH") {
				self.startGroupingVisible();
			} 
			self.lastActionWasOperator(prevUnit.type == "OPERATOR" || prevUnit.type == "START_GROUPING");
		}
	}
	
	function determineNextValidAction() {
		if (self.equationUnits != null && self.equationUnits().length > 0) {

			var lastUnit = self.equationUnits()[self.equationUnits().length - 2];
			if (lastUnit.type == "OPERATOR" || lastUnit.type == "START_GROUPING") {
				self.lastActionWasOperator(true);
			} else {
				self.lastActionWasOperator(false);
			}
		} else {
			self.lastActionWasOperator(true);				
		}

		self.startGroupingVisible();
		//self.endGroupingVisible();
	}

	function replaceUnit(unit) {
		self.equationUnits.replace(self.equationUnits()[editIndex()], unit);
		self.finishEdit();
	}
	
	function doInsert(unit) {
		self.equationUnits.splice(editIndex() + 1, 0, unit);
		self.equationUnits.splice(editIndex() + 2, 0, new Unit(" ", "", "CURSOR"));
		editIndex(editIndex() + 2);
		removeBlink();
		$cell = $("#" + editIndex()).addClass("equationSelected");
		addBlink();
		insert();
	}
	
	self.remove = function() {
		if (selectedUnit().type == "CURSOR") return;
		var index = self.equationUnits().indexOf(selectedUnit());
		var length = self.equationUnits().length;
		var nextUnit = null;
		var previousUnit = null;

		var selectedText = selectedUnit().textValue;
		var previousText;
		var nextText;

		editIndex(-1); // keep from crashing when removing

		if (index < length - 2) {
			nextUnit = self.equationUnits()[index + 2];
			nextText = nextUnit.textValue;
		}

		if (index > 1) {
			previousUnit = self.equationUnits()[index - 2];
			previousText = previousUnit.textValue;
		}

		if (selectedText == "+" || selectedText == "-" || selectedText == "*" || selectedText == "/") {
			if (nextUnit != null) {    // check if end of equation
				if (nextText == "(") { // remove number in front of operator	
					self.equationUnits.splice(index - 1, 2);
					index = index - 2;
				} else { //remove number after operator					
					self.equationUnits.splice(index, 2);
				}
			}
			self.equationUnits.splice(index, 2);
			//self.equationUnits.remove(self.equationUnits()[index]); //removing the trailing cursor
		} else if (selectedText == "(") {
			var balance = 0;
			for ( var i = index; i < length; ++i) // find the associated close paren
			{
				if (self.equationUnits()[i].textValue == "(") {
					balance++;
				} else if (self.equationUnits()[i].textValue == ")") {
					balance--;
				}
				if (balance == 0) {
					self.equationUnits.splice(i, 2); //remove associated close paren	
					break;
				}
			}

			self.equationUnits.splice(index, 2);
		} else if (selectedText == ")") {
			self.equationUnits.splice(index, 2);
		} else // metric or month
		{
			if (previousText == "(" || nextText != ")") {
				if (nextUnit != null) { // remove unit if it exists as is either operator or closing paren
					self.equationUnits.splice(index + 1, 2);
				}
			}

			if (nextUnit == null || nextText == ")") {
				if (previousUnit != null) {
					self.equationUnits.splice(index - 1, 2); // always remove operator or opening paren
					index = index -2; // update index to point at selected unit
				}
			}

			if (previousText == "(" && nextText == ")") {
				self.remove();
			} else {
				self.equationUnits.splice(index, 2);
			}
		}
		self.finishEdit();
	}
	
	self.resetForm = function() {
		self.equationName("");
		self.equation("");
		self.decimals(0);
		self.selectedUnitType("Number");
		self.smallerBetter(false);
		self.definition("");
		$("#error_message").text("");
	}
}
]]>

</script>
<style>
.list {
    padding-left: 16px;
    padding-bottom: 10px;
}
.list li{
    list-style: square;
    padding: 2px;
}

pre {
    font-size: 11px; 
}

#newFormulaContainer input {
	display:block;
	width: 165px;
	margin-bottom:5px;
}

#newFormulaContainer select {
	display:block;
	width: 165px;
	margin-bottom:5px;
}

#builderBtn {
	width:120px !important;
	height:30px;
	border-radius:5px;
	 -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	margin-top:20px;
}

label.error {
    color:red;
    display:block;
    float:none;
    width:150px;
}

#inputContainer {
	height:440px;
	background-color:#ddd;
	float:left;
	border-radius: 5px;
	 -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	padding:10px;
}

.x-reset .x-tree-icon-parent {
    background-image: none;
    width: 0px;
}

.x-reset .x-grid-tree-node-expanded .x-tree-icon-parent {
    background-image: none;
}

.x-reset .x-tree-icon-leaf {
    background-image: none;
    width: 0px;
}

#keys {
    height: 75px;
    width: 200px;
}

#displayContainer {
	height: 334px;
    width: 530px;
    margin-top: 50px;
}

.customBtn {
	float: left;
	cursor: pointer;
	font-size:22px!important;
	width: 36px;
	height: 36px;
	background: #c09a4d;
	border-radius: 5px;
	 -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
	margin: 0 2px 2px 0;
	color: white;
	line-height: 36px;
	text-align: center;
	border:none;
	user-select: none;
}

.edit {
    font-size: 12px !important;
    height: 20px;
    width: 46px;
    text-align: center;
	vertical-align: middle;
	line-height: 0px;
}

.operatorSet {
	height: 75px;
	width: 76px;
	float:left;
}

.display {
	background-color: white; 
	height: 275px; 
	font-size: 14px; 
	box-sizing: border-box; 
	overflow: auto;
}

input[type='button']:hover, #insertContainer input[type='button']:hover {
	background: #deaa42;
	color: white;
}

#insert {
    font-size: 14px!important;
    height: 26px;
    text-align: center;
    width: 60px;
    line-height:0px;
}

input[disabled] {
	background-color:#EEE;
	color: #666;
}

input[disabled]:hover {
	background-color:#EEE!important;
	color: #666!important;
}

table td,table th {
	padding: 0px;
	margin: 0px;
	border-spacing: 0;
	border: 0px
}

</style>
	<div id="editMode-popup">
		<div id="edit-container" style="width:100%;">
			<div id="editableGrid" style="float:left;"><!-- holder --></div>
			<div id="existingEquationGrid" style="margin-left:10px; float:left; display:none;"><!-- holder --></div>
			<div id="newFormulaContainer" style="margin-left:10px; float:left; display:none;">
				<form id="createFormulaForm">
					Name: <input type="text" name="name" data-bind="value: equationName"><!-- Empty --></input>
					Equation: <input type="text" name="formula" data-bind="value: equation "/>
					Unit Type:<select name="unitType" data-bind="options: unitTypes, value: selectedUnitType"><!-- place holder --></select>
					Decimal Places:<select name="decimals" data-bind="options: decimalPlaces, value: decimals"><!-- place holder --></select>
					Definition: <input id="definition" type="text" name="definition" data-bind="value: definition "/>
					Small Value is Better:
					<input type="checkbox" name="smallerBetter" style="display:inline; width:10px; margin-top:10px;" data-bind="checked: smallerBetter" value="true"/>
				</form>
				<input type="button" id="builderBtn" value="Build Equation"/>
				<span style="color: red; max-width: 170px; display: block;" id="error_message"></span>				
			</div>
			<div id="buildFormulaContainer" style="margin-left:5px; float:left; display:none;">
				<div id="inputContainer">	
					<div id="metricTabs">		
						<div id="metricsGrid" class="x-hidden"><!-- empty --></div>
						<div id="existingFormulaGrid" class="x-hidden"><!-- empty --></div>
					</div>
					<div id="insertContainer" style="float:right; margin-top:5px;">
						<input type="text" style="float:left; height:23px; margin-right:5px;" maxlength="15" data-bind="value: numericInput, valueUpdate: 'afterkeydown'"/>
						<input type="button" class="customBtn" id="insert" value="Insert" data-bind="click: addToEquationUnits, enable: canInsert"/>
					</div>
					<span style="float:left; margin-top:10px;" data-bind="visible:priorPeriodEnable">				
						<input type="checkbox" id="priorPeriod" data-bind="checked: isPriorPeriod"/>
    					<label for="priorPeriod" style="width:auto;">Prior Period:</label>
    				</span>
				</div>
				<div style="float:right; margin-left:10px;">
					<div id="keys">
						<div class="operatorSet">
							<input type="button" class="customBtn" value="+" data-bind="enable: lastActionWasOperator() == false, click: addOperator.bind($data, '+')"/>
							<input type="button" class="customBtn" value="-" data-bind="enable: lastActionWasOperator() == false, click: addOperator.bind($data, '-')"/>
							<input type="button" class="customBtn" value="÷" data-bind="enable: lastActionWasOperator() == false, click: addOperator.bind($data, '/')"/>
							<input type="button" class="customBtn" value="x" data-bind="enable: lastActionWasOperator() == false, click: addOperator.bind($data, '*')"/>
						</div>
						<div style="width:1px; height:75px; border-right:1px dotted; margin: 0 10px 0 8px; float:left;"><!-- empty --></div>
						<div class="operatorSet">
							<input type="button" class="customBtn" value="(" data-bind="click: startGrouping, enable: startGroupingVisible"/>
							<input type="button" class="customBtn" value=")" data-bind="click: endGrouping, enable: endGroupingVisible"/>
							<input type="button" class="customBtn" value="M" data-bind="click: addMonth, enable: lastActionWasOperator() == true &amp; isParen() == false"/>
						</div>
					</div>
					<div style="clear:both;"><!--  empty --></div>
					<div id="displayContainer">
						<input type="button" class="customBtn edit" id="deleteBtn" value="Delete" data-bind="enable: isEditMode, click: remove"/>
<!-- 						<input type="button" class="customBtn edit" id="doneBtn" value="Done" data-bind="enable: isEditMode, click: finishEdit"/> -->
						<div style="width:1px; height:20px; border-right:1px dotted; margin: 0 10px 0 8px; float:left;"><!-- empty --></div>
						<input type="button" class="customBtn edit" id="undoBtn" value="Undo" data-bind="click: undo"/>
						<input type="button" class="customBtn edit" id="clearBtn" value="Clear" data-bind="click: clear"/>
						<div style="clear:both;"><!--  empty --></div>
						<div id="editTabs" style="margin-top: 10px;">
							<div id="metricEditText" class="x-hidden">
								<div id="equationTranslated" class="display" data-bind="foreach: equationUnits">
									<span class="equation" data-bind="attr: { 'id': $index}, click: $root.startEdit, text: $data.textValue, style:{width: $data.width}"><!-- empty --></span>
								</div>
							</div>
							<div id="formulaEditText" class="x-hidden">
								<div id="equation" class="display" style="background-color:#DDD" data-bind="foreach: equationUnits">
									<span data-bind="text: numericValue + ' '"><!-- empty --></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="dialog-confirm" title="Delete Formula?">
			<p>This formula will be removed. Are you sure?</p>
	</div>
</div>
