<div id="header" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:url var="dashboard" value="/" />
	<spring:url var="banner" value="/resources/images/AERIS_CLOUD_LOGO.png" />
	<spring:url var="home" value="/" />
	<spring:url var="cdfi" value="/cdfi" />
	<spring:url var="logout" value="/resources/j_spring_security_logout" />
	<spring:url var="profile" value="/profile/mine" />
	<spring:url var="usermanagement" value="/usermanagement" />
	<spring:url var="platformmanagement" value="/documenttypes" />
	<spring:url var="myservices" value="/myservices" />
	<spring:url var="myreports" value="/investor/${person.company.id }/myreports" />
	<spring:url var="carsservices" value="/carsservices" />
	<spring:url var="messagecenter" value="/message" />
	<spring:url var="toolsandresources"
		value="/cdfi/${person.company.id }/library" />
	<spring:url var="mydata" value="/cdfi/${person.company.id}/ratings" />

	<spring:message code="button_home" var="home_label" htmlEscape="false" />
	
	<c:if
		test="${(person==null)||(!(person.company.CARS) &amp;&amp;(person.agreementDate==null))}">
		<!--c:redirect url="${dashboard }" /-->
	</c:if>

	<c:set var="path"
		value="${requestScope['javax.servlet.forward.request_uri']}" />

	<div style="float: left; margin-left:10px; margin-top:10px; margin-bottom:10px;">
		<a href="${home}" name="${fn:escapeXml(home_label)}"
			title="${fn:escapeXml(home_label)}"> <img src="${banner}" style="width:331px;height:24px;" />
		</a>
	</div>
	
	<div id="welcome" style="float: right;  margin-right:10px;">
		<c:if test="${person!=null }">
			<c:if test="${pageContext.request.userPrincipal.name != null}">
		Hello, <a href="${profile}">${person.firstName }</a>
	
		<span style='padding-left: 20px;'><a href="${logout}">Logout</a></span>
			</c:if>
		</c:if>
	</div>

	<div style="clear: both;">
		<!-- placeholder -->
	</div>

	<div id="menuTabsContainer">

		<spring:url var="tabs1aal"
			value="/resources/images/tabs/1a.tabs_active_left.png" />
		<spring:url var="tabs1aam"
			value="/resources/images/tabs/1a.tabs_active_mid.png" />
		<spring:url var="tabs1aar"
			value="/resources/images/tabs/1a.tabs_active_right.png" />

		<ul id="menuTabs" style="right: 0px;">

			<c:choose>

				<c:when test="${fn:endsWith(path, dashboard)}">
					<li id="current"><a href="#">Dashboard</a></li>
				</c:when>
				<c:otherwise>
					<li><a href="${dashboard }">Dashboard</a></li>
				</c:otherwise>
			</c:choose>

			<c:if test="${(person.company.CARS) }">

				<c:choose>
					<c:when
						test="${(fn:contains(path, 'library') || (fn:contains(path, 'selector') &amp;&amp; !fn:contains(path, 'cdfi') &amp;&amp; !fn:contains(path, 'investor')) || fn:contains(path, 'list'))}">
						<li id="current"><a href="#">Tools &amp; Resources</a></li>
					</c:when>
					<c:otherwise>
						<li><a href="${toolsandresources}">Tools &amp; Resources</a></li>
					</c:otherwise>
				</c:choose>
			</c:if>

			<c:if test="${person.admin }">
				<c:choose>
					<c:when test="${fn:endsWith(path, 'usermanagement')}">
						<li id="current"><a href="#">Manage Users</a></li>
					</c:when>
					<c:otherwise>
						<li><a href="${usermanagement }">Manage Users</a></li>
					</c:otherwise>
				</c:choose>
			</c:if>

			<c:if test="${(person.company.CDFI) }">
				<c:choose>
					<c:when test="${fn:contains(path, 'cdfi')&amp;&amp;person.company.id==company.id}">
						<li id="current"><a href="#">My Data</a></li>
					</c:when>
					<c:otherwise>
						<li><a href="${mydata}">My Data</a></li>
					</c:otherwise>
				</c:choose>

				<c:choose>
					<c:when test="${fn:contains(path, 'myservices')}">
						<li id="current"><a href="#">My Services</a></li>
					</c:when>
					<c:otherwise>
						<li><a href="${myservices}">My Services</a></li>
					</c:otherwise>
				</c:choose>
			</c:if>

			<!--c:if test="${hasCdfiAccess}"-->
				<c:if test="${(person.company.investor) }">
				<c:choose>
					<c:when test="${(fn:endsWith(path, 'peergroups') || fn:endsWith(path, 'selector') || fn:endsWith(path, 'distribution') || fn:contains(path, 'myreports')) &amp;&amp; fn:contains(path, 'investor')}">
						<li id="current"><a href="#">My Reports</a></li>
					</c:when>
					<c:otherwise>
						<li><a href="${myreports}">My Reports</a></li>
					</c:otherwise>
				</c:choose>
			</c:if>

			<c:if test="${person.admin }">
				<c:choose>
					<c:when test="${fn:endsWith(path, 'documenttypes')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>
					<c:when test="${fn:endsWith(path, 'metriccategories')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>
					<c:when test="${fn:endsWith(path, 'metric/index/0')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>
					<c:when test="${fn:endsWith(path, 'reportcategorys')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>
					<c:when test="${fn:endsWith(path, 'formulas')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>
					<c:when test="${fn:endsWith(path, 'graphs')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>
					<c:when test="${fn:endsWith(path, 'valuefacts')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>
					<c:when test="${fn:contains(path, 'breakdown')}">
						<li id="current"><a href="#">Manage Platform</a></li>
					</c:when>


					<c:otherwise>
						<li><a href="${platformmanagement }">Manage Platform</a></li>
					</c:otherwise>
				</c:choose>
			</c:if>

			<c:choose>
				<c:when test="${fn:contains(path, 'message')}">
					<li id="current"><a href="#">Message Center</a></li>
				</c:when>
				<c:otherwise>
					<li><a href="${messagecenter}">Message Center</a></li>
				</c:otherwise>
			</c:choose>
		</ul>
	</div>

	<div style="clear: both;">
		<!-- placeholder -->
	</div>

</div>
