<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" id="menu" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">
        <menu:category id="c_document" z="IwaW5r7KHuYYhv8LICTHRKgUWao=">
            <menu:item id="i_document_new" messageCode="global_menu_new" url="/documents?form" z="bv1eg7qAwaBE1ATd78QiQm2M3ZE="/>
            <menu:item id="i_document_list" messageCode="global_menu_list" url="/documents?page=1&amp;size=${empty param.size ? 10 : param.size}" z="p196XK4gvGXOnIrUwDqNS/p7fzE="/>
        </menu:category>
        <menu:category id="c_person" z="Cz66KzcF6GdyygpbYfiE+EkFFFA=">
            <menu:item id="i_person_new" messageCode="global_menu_new" url="/people?form" z="IlD8NFD64X8egaRrgHbQeWKT68I="/>
            <menu:item id="i_person_list" messageCode="global_menu_list" url="/people?page=1&amp;size=${empty param.size ? 10 : param.size}" z="MFjeqYeiMgVzk2P/OWfFpXZhhS4="/>
        </menu:category>
        <menu:category id="c_company" z="tmJjNcrRZwdZqruFqwG+TB5GMek=">
            <menu:item id="i_company_new" messageCode="global_menu_new" url="/companys?form" z="SWjXbZ96+4L3yJZ+Q7yyqEFQPV4="/>
            <menu:item id="i_company_list" messageCode="global_menu_list" url="/companys?page=1&amp;size=${empty param.size ? 10 : param.size}" z="vk1qspgPYbGCO4tYu2Ikm8DhmbY="/>
        </menu:category>
        <menu:category id="c_controller" z="nj8Dm3hojIyIEyPkwE1UMDIs+K8=">
            <menu:item id="i_controller__documentuploadindex_id" messageCode="global_generic" url="/documentupload/index" z="ubfA7UfP2qzBjrWzchEQzw5sGQQ="/>
            <menu:item id="i_controller__dashboardindex_id" messageCode="global_generic" url="/dashboard/index" z="K6N9LPLYOZYu6l0QS0i4EGPTgUY="/>
            <menu:item id="i_controller__companyindex_id" messageCode="global_generic" url="/company/index" z="AR1g2DNXYf87rRq70sekyDj+jkk="/>
            <menu:item id="i_controller__cdfiindex_id" messageCode="global_generic" url="/cdfi/index" z="bKofifnhalzp5AI/sxVmtNPvTU0="/>
            <menu:item id="i_controller__companymetricsindex_id" messageCode="global_generic" url="/companymetrics/index" z="e2U7OoBWRMIADtOpp3ep0xyPCyA="/>
            <menu:item id="i_controller__profileindex_id" messageCode="global_generic" url="/profile/index" z="YuKfDvebDwMprMeIN097PhWee08="/>
            <menu:item id="i_controller__subscriberindex_id" messageCode="global_generic" url="/subscriber/index" z="cculLj8YpBPZAwg9XdJovO/7mO4="/>
            <menu:item id="i_controller__metricindex_id" messageCode="global_generic" url="/metric/index" z="5liss8cvSYGZ0WMFvaJgRLb7omA="/>
            <menu:item id="i_controller__myservicesindex_id" messageCode="global_generic" url="/myservices/index" z="2JrHZQ6TdonQh7d0u2sc78SRNBE="/>
            <menu:item id="i_controller__folderindex_id" messageCode="global_generic" url="/folder/index" z="wnSND4eZMkXcC3VBFoejExhT244="/>
            <menu:item id="i_controller__mapperindex_id" messageCode="global_generic" url="/mapper/index" z="tcreYdS5kU4OviUVoEOrPt8YQ30="/>
            <menu:item id="i_controller__usermanagementindex_id" messageCode="global_generic" url="/usermanagement/index" z="j043DRjcOCHyTA0mXvjvVyO4HpE="/>
            <menu:item id="i_controller__adjustmentindex_id" messageCode="global_generic" url="/adjustment/index" z="1Ehu+lyBePmJkJlkengThVA8kh4="/>
            <menu:item id="i_controller__metricvaluechangerequestindex_id" messageCode="global_generic" url="/metricvaluechangerequest/index" z="SChMDMlz6Q1bUcrbxEicV5g9prk="/>
            <menu:item id="i_controller__messageindex_id" messageCode="global_generic" url="/message/index" z="hqLNpj2xKnCNmpYzRvMZs7ykY8c="/>
            <menu:item id="i_controller__carsservicesindex_id" messageCode="global_generic" url="/carsservices/index" z="PkQT+P7vERULJK6eYdl2TdH39PU="/>
            <menu:item id="i_controller__performanceviewindex_id" messageCode="global_generic" url="/performanceview/index" z="K6pldWw1ndAv477Q/wDLr6i3KiQ="/>
            <menu:item id="i_controller__chartindex_id" messageCode="global_generic" url="/chart/index" z="QjVMpXEqGySzfjbagHoxyfntyck="/>
            <menu:item id="i_controller__peergroupindex_id" messageCode="global_generic" url="/peergroup/index" z="wB/KW/bLCvHL3MTU8E8VP2nrXxY="/>
        </menu:category>
        <menu:category id="c_subscription" z="r/P1cWsW/RwCvNVaISC6CJqMlvs=">
            <menu:item id="i_subscription_new" messageCode="global_menu_new" url="/subscriptions?form" z="9Dr3ZfLiB+31yYvs7eBReS2foXg="/>
            <menu:item id="i_subscription_list" messageCode="global_menu_list" url="/subscriptions?page=1&amp;size=${empty param.size ? 10 : param.size}" z="03VnWizM7afNsFFTvgrrta2Xv3w="/>
        </menu:category>
        <menu:category id="c_metricvalue" z="XmjSMzQu5+K51iO+KNDpn05J8aM=">
            <menu:item id="i_metricvalue_new" messageCode="global_menu_new" url="/metricvalues?form" z="vk2ZTwqtVxV1Lt6YkN2jZzYVPGA="/>
            <menu:item id="i_metricvalue_list" messageCode="global_menu_list" url="/metricvalues?page=1&amp;size=${empty param.size ? 10 : param.size}" z="iIfqcrEc29emoFA7+bqcQoCUvR0="/>
        </menu:category>
        <menu:category id="c_metriccategory" z="miag70ChKXixVHme32Ig15g92FE=">
            <menu:item id="i_metriccategory_new" messageCode="global_menu_new" url="/metriccategorys?form" z="qoFPwiE55t01Okf25AOnjAQvj7k="/>
            <menu:item id="i_metriccategory_list" messageCode="global_menu_list" url="/metriccategorys?page=1&amp;size=${empty param.size ? 10 : param.size}" z="3XMomNEKaImIzs1f0B8GX+YrlVs="/>
        </menu:category>
        <menu:category id="c_documenttype" z="mlES21H7wJgMmEXIgsfnW8MGk78=">
            <menu:item id="i_documenttype_new" messageCode="global_menu_new" url="/documenttypes?form" z="s41S2XTXG9yqZIHCiyhg4LmGZ+E="/>
            <menu:item id="i_documenttype_list" messageCode="global_menu_list" url="/documenttypes?page=1&amp;size=${empty param.size ? 10 : param.size}" z="/+z96vplycfR4bxHiG3VfyDtZx4="/>
        </menu:category>
        <menu:category id="c_metricmap" z="1zNyX7LZxtZIUETGUAYakgbnmlw=">
            <menu:item id="i_metricmap_new" messageCode="global_menu_new" url="/metricmaps?form" z="iM7+MA6xFWugzN/9M2SwYUqtbvo="/>
            <menu:item id="i_metricmap_list" messageCode="global_menu_list" url="/metricmaps?page=1&amp;size=${empty param.size ? 10 : param.size}" z="nz4Fm2+PyCpWnZfCBpIBIed4JAo="/>
        </menu:category>
        <menu:category id="c_folder" z="QezR2jbtNpqIqOxvWF9s3stDAFA=">
            <menu:item id="i_folder_new" messageCode="global_menu_new" url="/folders?form" z="HVj8TJS+ECSurqbiybiueOyiVQc="/>
            <menu:item id="i_folder_list" messageCode="global_menu_list" url="/folders?page=1&amp;size=${empty param.size ? 10 : param.size}" z="NuDLBjL55KJNyX6dyzaljKtHTQU="/>
        </menu:category>
        <menu:category id="c_formulacategory" z="J2BHrxQ4TKqq8syG2M1WBsI1N3g=">
            <menu:item id="i_formulacategory_new" messageCode="global_menu_new" url="/formulagroups?form" z="fFBI4UR6I3dtgtf/gQDzmm1HQ/8="/>
            <menu:item id="i_formulacategory_list" messageCode="global_menu_list" url="/formulagroups?page=1&amp;size=${empty param.size ? 10 : param.size}" z="JYowZqoET7BYzg8Sl+2AfDWh6SA="/>
        </menu:category>
        <menu:category id="c_equation" z="v96HgBHXyl52wdZfOSAy3FuZi2Q=">
            <menu:item id="i_equation_new" messageCode="global_menu_new" url="/equations?form" z="B3vvTGP5JuKhsWgLoTrH6zEA+Hs="/>
            <menu:item id="i_equation_list" messageCode="global_menu_list" url="/equations?page=1&amp;size=${empty param.size ? 10 : param.size}" z="kCnLt489QYzg0R+YezfdjzSnh8A="/>
        </menu:category>
        <menu:category id="c_formula" z="GcxkCdFtYDn4fuumOplK4Z7x/k4=">
            <menu:item id="i_formula_new" messageCode="global_menu_new" url="/formulas?form" z="xzfc11dItOkJS+UMGvFwWKTFUU0="/>
            <menu:item id="i_formula_list" messageCode="global_menu_list" url="/formulas?page=1&amp;size=${empty param.size ? 10 : param.size}" z="sRo/NaZvnTQ7lZCXg5MvYwWKxzQ="/>
        </menu:category>
        <menu:category id="c_graph" z="rrWaP5g1nsYbcG2O/HBCcQ8I7Bo=">
            <menu:item id="i_graph_new" messageCode="global_menu_new" url="/graphs?form" z="Kh7ByNYigfTRTtEs9XgkEOxZcCc="/>
            <menu:item id="i_graph_list" messageCode="global_menu_list" url="/graphs?page=1&amp;size=${empty param.size ? 10 : param.size}" z="o6TB8tw5GeQN8rk2HsAnBEZiYpo="/>
        </menu:category>
        <menu:category id="c_reportcategory" z="r/G2W7ReOCiJDPXqoHpnJ7sIHVM=">
            <menu:item id="i_reportcategory_new" messageCode="global_menu_new" url="/reportcategorys?form" z="i9XXa5RB0p1zgRKQ+ORV7xDSN1A="/>
            <menu:item id="i_reportcategory_list" messageCode="global_menu_list" url="/reportcategorys?page=1&amp;size=${empty param.size ? 10 : param.size}" z="xtH1TywVviQQDLa3PTapqG4g4xg="/>
        </menu:category>
        <menu:category id="c_reportcategoryequation" z="JBv1qz8OE3Sl6DciEukHhN4WLm0=">
            <menu:item id="i_reportcategoryequation_new" messageCode="global_menu_new" url="/reportcategoryequations?form" z="GLoKMJ3vK8diEhbDbI89IMCWw8Y="/>
            <menu:item id="i_reportcategoryequation_list" messageCode="global_menu_list" url="/reportcategoryequations?page=1&amp;size=${empty param.size ? 10 : param.size}" z="DLVuu3rw6sDOuQmZGTPye7nkUuk="/>
        </menu:category>
        <menu:category id="c_metricbreakdownitem" z="IkuE7saKfHP/+xlrutCPrS9pF6s=">
            <menu:item id="i_metricbreakdownitem_new" messageCode="global_menu_new" url="/metricbreakdownitems?form" z="f9eXmMHLcp0HcTzaFrUQ8IuNnB0="/>
            <menu:item id="i_metricbreakdownitem_list" messageCode="global_menu_list" url="/metricbreakdownitems?page=1&amp;size=${empty param.size ? 10 : param.size}" z="CouOHNiQiXKVDjevNw+NhDzmm6c="/>
        </menu:category>
        <menu:category id="c_metricbreakdown" z="C2QGAMxVc5fU9iVgoJu5RTqj4Uc=">
            <menu:item id="i_metricbreakdown_new" messageCode="global_menu_new" url="/metricbreakdowns?form" z="br4gqRA4m0RjXbi4OnmfGfRsezY="/>
            <menu:item id="i_metricbreakdown_list" messageCode="global_menu_list" url="/metricbreakdowns?page=1&amp;size=${empty param.size ? 10 : param.size}" z="ZRA+ewwA0RfpYmnVegXD+Jec++s="/>
        </menu:category>
        <menu:category id="c_breakdowncolumn" z="PWy7zfGtdBC9ZSL4ORF8rWe0sos=">
            <menu:item id="i_breakdowncolumn_new" messageCode="global_menu_new" url="/breakdowncolumns?form" z="xkoNGaM44cOc5SFB3qC5CsiJapY="/>
            <menu:item id="i_breakdowncolumn_list" messageCode="global_menu_list" url="/breakdowncolumns?page=1&amp;size=${empty param.size ? 10 : param.size}" z="3YWg2yNbljNVjO6ZLMgBLFzSUzU="/>
        </menu:category>
        <menu:category id="c_breakdowntable" z="R8BiQN7PZ4YJ8pzGfoB0vFE/puw=">
            <menu:item id="i_breakdowntable_new" messageCode="global_menu_new" url="/breakdowntables?form" z="/y+l7kNUbmMHLdmJybPHz4hzHOY="/>
            <menu:item id="i_breakdowntable_list" messageCode="global_menu_list" url="/breakdowntables?page=1&amp;size=${empty param.size ? 10 : param.size}" z="qIm6NHABC+2omvLZ3/OxwtqcvYo="/>
        </menu:category>
        <menu:category id="c_breakdownhistory" z="edsZHin4Ddv0HzIPJ9IjzhZ6Izw=">
            <menu:item id="i_breakdownhistory_new" messageCode="global_menu_new" url="/breakdownhistorys?form" z="STIx+072ugKf+ZBRCYq7iw+XXlc="/>
            <menu:item id="i_breakdownhistory_list" messageCode="global_menu_list" url="/breakdownhistorys?page=1&amp;size=${empty param.size ? 10 : param.size}" z="+B5M5zCiRgtxjN9uE5ll8dJRCvQ="/>
        </menu:category>
        <menu:category id="c_breakdownpie" z="9xxLjl7MdCwKlfNIM9lKWwr6yrA=">
            <menu:item id="i_breakdownpie_new" messageCode="global_menu_new" url="/breakdownpies?form" z="0sj+MVzqWeRVHgoQ/PxJTOdukcw="/>
            <menu:item id="i_breakdownpie_list" messageCode="global_menu_list" url="/breakdownpies?page=1&amp;size=${empty param.size ? 10 : param.size}" z="6XOGGFlu6tNPMZST/EkCRld4GxQ="/>
        </menu:category>
        <menu:category id="c_breakdowngraph" z="XUKWL/8fIc2OidOLs8w0JNGI+rY=">
            <menu:item id="i_breakdowngraph_new" messageCode="global_menu_new" url="/breakdowngraphs?form" z="YD++v9RnQ1bNWGWoOA/v45EnnZM="/>
            <menu:item id="i_breakdowngraph_list" messageCode="global_menu_list" url="/breakdowngraphs?page=1&amp;size=${empty param.size ? 10 : param.size}" z="1x3yLxYX+d5qDw7dUMfHWYX9EP4="/>
        </menu:category>
        <menu:category id="c_review" z="L2mRs5PtSirHXHgGXfHGAElLSxA=">
            <menu:item id="i_review_new" messageCode="global_menu_new" url="/reviews?form" z="UfnjoJCITLMB151WOsEb9d6vYGw="/>
            <menu:item id="i_review_list" messageCode="global_menu_list" url="/reviews?page=1&amp;size=${empty param.size ? 10 : param.size}" z="vE1ZLoyB7NH5prwbCr8wTQQBjXs="/>
        </menu:category>
        <menu:category id="c_subscriptioncdfi" z="FMoS6TyUp5VRZfrBAdmoMS0gSfA=">
            <menu:item id="i_subscriptioncdfi_new" messageCode="global_menu_new" url="/subscriptioncdfis?form" z="KltQDr9lQetsfOqu7CnF3m8sZfY="/>
            <menu:item id="i_subscriptioncdfi_list" messageCode="global_menu_list" url="/subscriptioncdfis?page=1&amp;size=${empty param.size ? 10 : param.size}" z="m47TzD6gFoN8bSkyE5n96S6B4AI="/>
        </menu:category>
        <menu:category id="c_subscriptionsubscriber" z="kCGGKZALUyl6XTZyN2Pxo+5AjqU=">
            <menu:item id="i_subscriptionsubscriber_new" messageCode="global_menu_new" url="/subscriptionsubscribers?form" z="MOu9pgmMil1RIS8dbZP8D8VVfQ0="/>
            <menu:item id="i_subscriptionsubscriber_list" messageCode="global_menu_list" url="/subscriptionsubscribers?page=1&amp;size=${empty param.size ? 10 : param.size}" z="q3fsHhLy0qjw5NSaj2ljTEIBOeE="/>
        </menu:category>
    </menu:menu>
</div>
