<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:form="http://www.springframework.org/tags/form" version="2.0">

	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:message code="label_metric_index" htmlEscape="false"
		var="title" />

	<spring:url var="loader" value="/resources/images/ajax-loader.gif" />
	<spring:url var="peergroups" value="/peergroups" />
	<spring:url var="getReportData" value="report/${company.id }" /> <!--  companyID is superfluous -->
	<c:set var="global" value="false" />
	<c:if test="${person.company.id==company.id &amp;&amp; !company.CDFI}">
		<spring:url var="getReportData" value="report" />
		<c:set var="global" value="true" />
	</c:if>
	
	<spring:url var="getGlobalFormulas" value="/formulas/getGlobalFormulas" />
	<spring:url var="getReport2" value="/reportcategorys/report" />
	<spring:url var="overrideEquation" value="/formulas/" />
	<spring:url var="setEquations" value="/reportcategorys/" />
	<spring:url var="editPeerGroup" value="/cdfi/${company.id}/peergroupselector/${pgId}"></spring:url>
	<spring:url var="peergroupService" value="/peergroups"></spring:url>
	<spring:url var="peerGroupReports" value="/cdfi/${company.id}/peergroups"></spring:url>
	<spring:url var="excel" value="/resources/images/page_excel.png" />
	<spring:url var="export" value="/export?companyId=${company.id }" /> <!--  companyId is superfluous  -->
	<spring:url var="images" value="/resources/images/" />
	<spring:url var="extjs" value="/lib/ext-4.1.1a/ext-all.js" />
	<spring:url var="extjscss" value="/lib/ext-4.1.1a/resources/css/ext-all-scoped.css" />
	<spring:url var="customtableCSS" value="/styles/customtable.css" />
	<spring:url var="garagejs" value="/lib/garage.js" />
	<spring:url var="highcharts" value="/lib/highcharts.js" />
	<link rel="stylesheet" type="text/css" media="screen" href="${extjscss}" />
	<link rel="stylesheet" type="text/css" media="screen" href="${customtableCSS}" />
	<script type="text/javascript" src="${extjs}"><!-- required for FF3 and Opera --></script>
	<script type="text/javascript" src="${garagejs}"><!-- required for FF3 and Opera --></script>
	<script type="text/javascript" src="${highcharts}"><!-- required for FF3 and Opera --></script>
	<c:if test="${person.admin}">   
		<c:set var="isAdmin" value="true" />
	</c:if>  
	<style>
	
#menuTabsContainer {
	height: 30px;
}

ul {
	list-style:none; 
	padding:0;
	margin:0;
}

ul li {
	padding:0;
	margin:0;
}

.ui-accordion-header span {
	float:left;
	margin-right:10px;
}

.subnavb_current {
    font-size: 14px;
    text-transform: none;
}

.ui-accordion .ui-accordion-header {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: normal;
    height: 12px;
}

.ui-accordion .ui-accordion-content {
	background:none;
	border:0px;
}

.ui-state-hover {
	color:#000;
}

.ui-state-default {
	background:none;
}

.subnavb_current {
	font-weight:normal;
}

</style>
	<script type="text/javascript">
		<![CDATA[

		//EXT-JS  
		Ext.require([ 'Ext.grid.*', 'Ext.data.*', 'Ext.util.*',
						'Ext.state.*' ]);
		Ext.scopeResetCSS = true;
		Ext.onReady(function() {
			Ext.QuickTips.init();
			$.editMode(null, { imagesUrl: "${images}"});
		});
	
		$(function() {
			var id = ${pgId};
			var exportUrl = "${export}&peerGroupId="+id;
			//$("#export").attr("href", exportUrl);
			$('#ratingDistributionTitle').show();
			$('#analysisTitle').show();
			var options = {
				id : id,
				reportDataUrl : '/${getReportData}',
				isGlobal : ${global},
				globalEditBtn : $("#globalEditModeBtn"),
	        	globalEquationsUrl: '${getGlobalFormulas}',
	        	overrideEquationUrl: '${overrideEquation}',
	        	sortEquationsUrl: '${setEquations}',
	        	getReportUrl: '${getReport2}/PEER_GROUP',
	        	editReportUrl: '${editPeerGroup }',
	        	peergroupServicesUrl: '${peergroupService}',
	        	peergroupsUrl: '${peerGroupReports}',
	        	exportUrl: exportUrl
			};
			var vm = new PeerGrourReportViewModel(options);
			
			
		});

		

		]]>
	</script>

	<div id="pageContainer" style="display: none;">
		<h3 id="peergroupTitle" style="margin-bottom:10px;"><!-- empty --></h3>

		<div style="border: 1px solid lightGray; background-color: #F5F5F5; padding: 10px; float:left; width:98%; margin-bottom:20px;">
			<span class="subnavb_current"> <img src="${excel}" style="vertical-align: middle; padding-right: 5px;" />
				<a id="export" href="#" title="Note that only those Peer Analysis metrics which are expanded below will be exported">Export</a> peer group report as Excel workbook.
				<c:if test="${peerGroupAccess == 'FULL'}">
					<div style="float:right;">
					Name:<input type="text" id="peergroupName" style="width:300px;margin-left:2px;"/>
						<a href="${editPeerGroup}" id="editPeerGroup" class="greenButton" style="width:50px; height:25px; line-height:26px; margin-left:10px;">Edit</a>
						<a href="#" id="savePeerGroup" class="greenButton" style="width:50px; height:25px; line-height:26px; margin-left:10px;">Save</a>		
					</div>
				</c:if>
				<br/><br/>
				<span class="subnavb_current"><input
					type="checkbox" style="vertical-align: middle;"
					id="showAllYearsCheckbox" /> All Years</span> <span class="subnavb_pipe">|</span>
				<span class="subnavb_current" title="Shows quarterly data captured starting in CDFI’s 2014 FY"><input type="checkbox"
					style="vertical-align: middle;" id="showInterimCheckbox" title="Shows quarterly data captured starting in CDFI’s 2014 FY"/> Show Interim</span>
			    <span class="subnavb_pipe">|</span>
			    <span class="subnavb_current"><input type="checkbox" style="vertical-align: middle;" id="showIncompleteYearsCheckbox" />Show incomplete current fiscal year</span>
			</span> 
			
			<br/><br/>
			<div style="float:left; height: 10px;">
				<div style="font-weight: bold; margin-bottom:10px; float: left;">
					Number of Peers: <span style="font-weight: normal;" id="peersCount">0</span><img id="peersList" src="${images }icon_list.png" style="cursor:pointer;vertical-align: middle;margin-bottom: 2px;"/>
				</div>
			</div>
			<br/>
			<div style="font-weight: bold; float:left;width:50%;">
				Peer Criteria: <div id="criterias" style="display:inline-table; font-weight:normal; width:50%;"><!-- empty --></div>
			</div>
			
		</div>		
		<h3 id="ratingDistributionTitle" style="display: none;">Peer Group Ratings Distribution</h3>
		<span id="cdfiRating" style="margin:0 0 20px 0; width: auto; float:left;"><!-- empty --></span>
		<div id="pie-charts" style="width: 100%;float:left;"><!-- empty -->
			<!-- empty -->
		</div>
		<br style="clear: both;" /> <br />
		<h3 id="gridMetricTitle" style="display: none;"><!-- empty --></h3>
		<c:if test="${isAdmin==true}">
			<a href="#" id="globalEditModeBtn" class="greenButton"
				style="width: 100px; margin-bottom: 5px; margin-top:10px;">Edit Global</a>
		</c:if>
		<div id="grid-metrics" style="width:100%; overflow:hidden;">
			<br />
		</div>
		<div style="margin-top: 30px;">
			<h3 id="analysisTitle" style="display: none;">Peer Analysis -
				Selected Metrics</h3>
			
			<div id="analysisTables" style="width:100%; margin-top:20px;">
			<!-- empty -->
			</div>
		</div>

		<tiles:insertTemplate template="/WEB-INF/views/editformula.jspx" />
	</div>
		<div id="impactDialog">
			<center><b>Impact Performance Rating description</b></center>
			<tiles:insertTemplate template="/WEB-INF/views/anonymous/impactdescription.jspx" />
		</div>
		<div id="financialDialog">
			<center><b>Financial Performance Rating description</b></center>
			<tiles:insertTemplate template="/WEB-INF/views/anonymous/financialdescription.jspx" />
		</div>
</div>
