<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:sform="http://www.springframework.org/tags/form"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:url var="cdfi" value="/cdfi" />
  
  <style>
  label {
  width: 350px;
   float: left;
   margin-left: 5px;
   margin-top: 0px;
   }
   
   #carsMain{
   	max-width: 722px;
   }
  </style>
  
   <script>
	<![CDATA[
	function AppViewModel() {
		var self = this;
		self.documents = ko.observableArray([]);
		
		self.showSelectAll = ko.observable(false);
		
		self.documentsByCategory = ko.computed(function() { 
			var docs = ko.utils.arrayFilter(self.documents(), function(document) {
				var category = $("#categoryList option:selected").val();
				if (category == -1)
					return true;
		    	return (document.categoryId == $("#categoryList option:selected").val());
			});
			self.showSelectAll(docs.length>0);
			return docs;
				
		});
		
		self.checkAll = ko.dependentObservable({ 			
			read: function() {
				var allChecked = true;
				ko.utils.arrayForEach(self.documentsByCategory(), function(doc) {
					if (doc.hasAccess() == false)
						allChecked = false;
				});
				return allChecked;
		    },
		    write: function(newValue) {
		    	ko.utils.arrayForEach(self.documentsByCategory(), function(doc) {
					if (doc.canToggleAccess)
						doc.hasAccess(newValue);
				});
		    },
		    owner: self
		});
		
	}
	         
    $(function() {
    	$("#viewerList").val('');
    	var vm = new AppViewModel();
    	ko.applyBindings(vm);
    	$( "#viewerPermissionsDialog" ).dialog({
            autoOpen: false,
            height: 600,
            width: 550,
            modal: true,
            buttons: [{
                "text":"Cancel",
            	"class": "cancel-button",
            	"click": function() {
                	$( this ).dialog( "close" );
            	 }
            },{
            	"class":"greenButton",
                "text": "Save",
                "click": function() {
                	save();
                }
            }],
            close: function() {
            	$("#viewerList").val('');
            	$('#categoryList').val('');
            	vm.documents([]);
            }
        });
    	
    	function save() {
    		
    		var viewerId = $("#viewerList option:selected").val();
    		$.ajax({
				url :  "${cdfi}/savedocumentsaccess/" + viewerId,
				data : ko.toJSON(vm.documents()),
				type : "post",
				async : true,
				contentType : "application/json",
				success : function(result) {
					$("#viewerPermissionsDialog").dialog( "close" );
				},
				error : function(request, status, error) {
					alert("Error: Could not save documents access");
				}
			});		
    	}
    	
        $("#viewerList").change(function() {
			var id = $("#viewerList option:selected").val();
			if (id != '') {
				$("#viewerPermissionsDialog").dialog( "open" );
				$("#viewerPermissionsDialog").dialog({ title: $("#viewerList option:selected").text() }); 
		    	$.ajax({
					url : "${cdfi}/${company.id}/getdocuments/" + id,
					dataType : 'json',
					type: 'get',
					async : false,
					cache: false,
					success : function(data) {
						var map = ko.utils.arrayMap(data, function(map) {
							return new DocumentPOJO(map.canToggleAccess, map.folderId, map.fileName, map.hasAccess, map.id);
						});
						
						vm.documents(map);
					}
				});
			}
		}); 
        
        $("#categoryList").change(function() {
        	vm.documents.valueHasMutated();
		}); 
    });
    
    function DocumentPOJO(canToggleAccess, categoryId, fileName, hasAccess, id) {
	    this.canToggleAccess = canToggleAccess;
	    this.categoryId = categoryId;
	    this.fileName = fileName;
	    this.hasAccess = ko.observable(hasAccess);
	    this.id = id;
    }
    ]]>
    </script>
  
  	<div id="viewerPermissionsDialog">
  		<c:set var="category" value=""/>
  		<select id="categoryList" style="max-width: 222px; min-width: 222px;">
			<option value="">-- Select a category --</option>
			<option value="-1">All Documents</option>
			<c:forEach var="documentType" items="${documentMap.keySet()}">
				<c:if test="${category!=documentType.documentTypeFolder.name}">
			 	  <c:set var="category" value="${ documentType.documentTypeFolder.name}"/>
			 	  <option value="${documentType.documentTypeFolder.id }">${documentType.documentTypeFolder.name }</option>
				</c:if>
			</c:forEach>
		</select>
		
		<input type="checkbox" style="float:right; margin-right:16px;" id="checkAll" data-bind="checked: checkAll, visible:showSelectAll">
			<label for="checkAll" style="width:auto; float:right;" data-bind="visible:showSelectAll">Select All</label>
		</input>
		
		<table id="documentsTable" style="width:510px;">
			<tbody data-bind="foreach: documentsByCategory">
        		<tr>
           			<td data-bind="text: fileName"></td>
          			<td style="width:30px;"><input type="checkbox" data-bind="checked: hasAccess, enable:canToggleAccess" /></td>
		     	</tr>
		    </tbody>
		</table> 	
	</div>
</div>