<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:form="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<style>
	label {
		width: 200px;
	}
	#carsmain { width: 970px;}	
	#wrapper { background-color: #E4E4E4!important; }
	</style>
	<script>
	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&amp;])" + key + "=.*?(&amp;|$)", "i");
		var separator = uri.indexOf('?') !== -1 ? "&amp;" : "?";
		if (uri.match(re)) {
			return uri.replace(re, '$1' + key + "=" + value + '$2');
		}
		else {
			return uri + separator + key + "=" + value;
		}
	}
	
	dojo.addOnLoad(function(){
		var categoryID = dijit.byId("_documentTypeFolder_id");
		dojo.connect(categoryID,"onChange",function(evt){
			var name = dijit.byId("_name_id").value;
			var quarterly = dijit.byId("_quarterly_id").checked;
			var annual = dijit.byId("_annual_id").checked;
			var full = dijit.byId("_full_id").checked;
			var annualIfAvailable = dijit.byId("_annualIfAvailable_id").checked;
			var oneTime = dijit.byId("_oneTime_id").checked;
			var documentTypeFormat = dijit.byId("_documentTypeFormat_id").value;
			var reportType = dijit.byId("_reportType_id");
			var description = dijit.byId("_description_id").value;
			
			var url = updateQueryStringParameter(window.location.href, "folder", evt);
			url = updateQueryStringParameter(url, "name", name);
			url = updateQueryStringParameter(url, "quarterly", quarterly);
			url = updateQueryStringParameter(url, "annual", annual);
			url = updateQueryStringParameter(url, "full", full);
			url = updateQueryStringParameter(url, "annualIfAvailable", annualIfAvailable);
			url = updateQueryStringParameter(url, "oneTime", oneTime);
			url = updateQueryStringParameter(url, "documentTypeFormat", documentTypeFormat);
			url = updateQueryStringParameter(url, "reportType", reportType);
			url = updateQueryStringParameter(url, "description", description);
			window.location.href = url;
		});
		
		var lastCheckedAnnual = null;
		
		var annualIfAvailableID = dijit.byId("_annualIfAvailable_id");
		dojo.connect(annualIfAvailableID, "onClick", function(evt){
			dijit.byId("_annual_id").set('checked', false);
			dijit.byId("_full_id").set('checked', false);
			
			if (lastCheckedAnnual == "annualIfAvailable"){
				lastCheckedAnnual = null;
				dijit.byId("_annualIfAvailable_id").set('checked', false);
			}else{
				lastCheckedAnnual = "annualIfAvailable"
			}
		});
		var annualID = dijit.byId("_annual_id");
		dojo.connect(annualID, "onClick", function(evt){
			dijit.byId("_annualIfAvailable_id").set('checked', false);
			dijit.byId("_full_id").set('checked', false);
			
			if (lastCheckedAnnual == "annual"){
				lastCheckedAnnual = null;
				dijit.byId("_annual_id").set('checked', false);
			}else{
				lastCheckedAnnual = "annual"
			}
		});
		var fullID = dijit.byId("_full_id");
		dojo.connect(fullID, "onClick", function(evt){
			dijit.byId("_annualIfAvailable_id").set('checked', false);
			dijit.byId("_annual_id").set('checked', false);
			
			if (lastCheckedAnnual == "full"){
				lastCheckedAnnual = null;
				dijit.byId("_full_id").set('checked', false);
			}else{
				lastCheckedAnnual = "full"
			}
		});
    });       
	</script>
	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/><br/>
	<form:update id="fu_com_cars_platform_domain_DocumentType"
		modelAttribute="documentType" path="/documenttypes"
		versionField="Version" z="c1fU6WdIMppu6sSkBKn15ksm0uw=">
		<field:input field="name"
			id="c_com_cars_platform_domain_DocumentType_name" min="2"
			required="true" z="BN0sK/gKu/EpEgx4N8F563ADF38=" />
		<field:checkbox field="quarterly"
			id="c_com_cars_platform_domain_DocumentType_quarterly"
			z="NAkYYUjK2756W717mU5w9P4PjMk=" />
		<field:checkbox field="full"
			id="c_com_cars_platform_domain_DocumentType_full"
			z="yxQrX0to0KmVSxA/kS/VMfZYeLc=" />
		<field:checkbox field="annual"
			id="c_com_cars_platform_domain_DocumentType_annual"
			z="qTJTiqMTdFrUDYo0JelIHufotbM=" />
		<field:checkbox field="annualIfAvailable"
			id="c_com_cars_platform_domain_DocumentType_annualIfAvailable"
			z="qTJTiqMTdFrUDYo0JelIHufotbZ=" />
		<field:checkbox field="oneTime"
			id="c_com_cars_platform_domain_DocumentType_oneTime"
			z="user-managed" />
		<field:select field="documentTypeFolder"
			id="c_com_cars_platform_domain_DocumentType_documentTypeFolder"
			itemValue="id" itemLabel="name" items="${documenttypefolders}"
			path="/documenttypefolders" z="93D1QW/mKek90ne5eS8MZ3ioqgA=" />
		<field:select field="documentTypeSubFolder"
			id="c_com_cars_platform_domain_DocumentType_documentTypeSubFolder"
			itemValue="id" itemLabel="name" items="${documenttypesubfolders}"
			path="/documenttypesubfolders" z="93D1QW/mKek90ne5eS8MZ3ioqgB=" />
		<field:select field="documentTypeFormat"
		    id="c_com_cars_platform_domain_DocumentType_documentTypeFormat"
			items="${documenttypeformats}"
			path="/documenttypeformats" z="93D1QW/mKek90ne5eS8MZ3ioqgC=" />
	    <field:select field="reportType"
			id="c_com_cars_platform_domain_DocumentType_reportType"
			items="${reportTypes}"
			path="/reportTypes" z="user-managed" />
		<field:input field="description" max="255"
			id="c_com_cars_platform_domain_DocumentType_description"
			required="false" z="BN0sK/gKu/EpEgx4N8F563ADF39=" />	
	</form:update>
</div>
