<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_cars_platform_domain_MetricValue" modelAttribute="metricValue" path="/metricvalues" render="${empty dependencies}" z="flwghk1weNPSZ3AkteZMjzUF6x0=">
        <field:input field="amount" id="c_com_cars_platform_domain_MetricValue_amount" validationMessageCode="field_invalid_number" z="Xgc2nNyoli1/KL4EyOVk8tPapvo="/>
        <field:input field="textValue" id="c_com_cars_platform_domain_MetricValue_textValue" z="keeZIY7Ia+S+mZarSAmJ6O5FU7c="/>
        <field:select field="metric" id="c_com_cars_platform_domain_MetricValue_metric" itemValue="id" items="${metrics}" path="/metrics" z="AWlazsbSLdSRFx4q8tUd+z625qY="/>
        <field:select field="company" id="c_com_cars_platform_domain_MetricValue_company" itemValue="id" items="${companys}" path="/companys" z="Tn6JmRgU7a2G7eR7wRvkIQZNu8g="/>
        <field:input field="year" id="c_com_cars_platform_domain_MetricValue_year" z="fgJ+nK/RlFN1Hn2fB9x2OBYiUkk="/>
        <field:input field="quarter" id="c_com_cars_platform_domain_MetricValue_quarter" z="KMbxoUEXtgOxB0NICQ8X0ZoDCP4="/>
        <field:simple field="comments" id="c_com_cars_platform_domain_MetricValue_comments" messageCode="entity_reference_not_managed" messageCodeAttribute="Comment" z="67JxDgO55FwjEnwuusbP4GBgWIE="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_cars_platform_domain_MetricValue" render="${not empty dependencies}" z="0EkG+mrmIlz4dPl8qlPk0DMlDU4="/>
</div>
