<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_cars_platform_domain_MetricValue" items="${metricvalues}" z="n1wUwBGmYp+gh4SKxT853RDYi+A=">
        <table:table data="${metricvalues}" id="l_com_cars_platform_domain_MetricValue" path="/metricvalues" z="T4TREkvJgyp6Cmd1Rnz88lv9lAI=">
            <table:column id="c_com_cars_platform_domain_MetricValue_amount" property="amount" z="rieWufePGXBNBAY9SVYLUk4PHpw="/>
            <table:column id="c_com_cars_platform_domain_MetricValue_textValue" property="textValue" z="Ge5Zjuy7X4COjvCShGcEIZwBYis="/>
            <table:column id="c_com_cars_platform_domain_MetricValue_metric" property="metric" z="gtbfeK64Ur2v4SBQS2hf4Rxoyv4="/>
            <table:column id="c_com_cars_platform_domain_MetricValue_company" property="company" z="PnXrvs8EvG51lGeq/gY3zZytIT4="/>
            <table:column id="c_com_cars_platform_domain_MetricValue_year" property="year" z="s/EHyUo1kZ23UHS921cQWRpjYJo="/>
            <table:column id="c_com_cars_platform_domain_MetricValue_quarter" property="quarter" z="8MAgSvw6BR1+ngp8uZ69xEmoEYM="/>
        </table:table>
    </page:list>
</div>
