<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <page:list id="pl_com_cars_platform_domain_MetricBreakdown" items="${metricbreakdowns}" z="GJK4+9pbgSAQVF41tevcnhIO0M8=">
        <table:table data="${metricbreakdowns}" id="l_com_cars_platform_domain_MetricBreakdown" path="/metricbreakdowns" z="itQBy69a34Q/13e1ZfZGGXk8EKg=">
            <table:column id="c_com_cars_platform_domain_MetricBreakdown_name" property="name" z="OuCBUKlf8gbtxJJPbwK2i9ltwew="/>
            <table:column id="c_com_cars_platform_domain_MetricBreakdown_label" label="Item Label" property="label" z="user-managed"/>
        </table:table>
    </page:list>
</div>
