<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <form:create id="fc_com_cars_platform_domain_ReportCategory" modelAttribute="reportCategory" path="/reportcategorys" render="${empty dependencies}" z="R9Dy6gSi/n/1Q2fE/BamOYifyGA=">
        <field:select field="reportPage" id="c_com_cars_platform_domain_ReportCategory_reportPage" items="${reportpages}" path="reportpages" z="F6CgP0FPeh54s65WDoNjvrp7278="/>
        <field:select field="parent" id="c_com_cars_platform_domain_ReportCategory_parent" itemValue="id" items="${reportcategorys}" path="/reportcategorys" required="false" z="user-managed"/>
        <field:simple field="categoryEquations" id="c_com_cars_platform_domain_ReportCategory_categoryEquations" messageCode="entity_reference_not_managed" messageCodeAttribute="Report Category Equation" render="false" z="user-managed"/>
        <field:input field="name" id="c_com_cars_platform_domain_ReportCategory_name" z="9Cz3e1+D88QgEDS13L02/R0n4qs="/>
        <field:input field="rank" id="c_com_cars_platform_domain_ReportCategory_rank" z="8kZqIjxHlcAXgyRNYmCGrYxPlUo="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_cars_platform_domain_ReportCategory" render="${not empty dependencies}" z="jCRuS95qUQpd9jPeyH/M505KIyM="/>
</div>
