<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <page:list id="pl_com_cars_platform_domain_BreakdownPie" items="${breakdownpies}" z="j4CW0qFp+Bcy2h2blv49exYMWTY=">
        <table:table data="${breakdownpies}" id="l_com_cars_platform_domain_BreakdownPie" path="/breakdownpies" z="0Wp/0ozQhbibzNmOhFcfuMXriTk=">
            <table:column id="c_com_cars_platform_domain_BreakdownPie_title" property="title" z="hkO09y32d0dHRoeZI/GT5X8yoCI="/>
            <table:column id="c_com_cars_platform_domain_BreakdownPie_breakdown" property="breakdown" z="a+1ur6mrHqwaF93nS/STlAmLcWc="/>
            <table:column id="c_com_cars_platform_domain_BreakdownPie_equation" label="Column" property="equation" z="user-managed"/>
            <table:column id="c_com_cars_platform_domain_BreakdownPie_export" property="export" z="vcYHnkBVQRVAYpXZ0deNuk41MZw="/>
        </table:table>
    </page:list>
</div>
