<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <form:update id="fu_com_cars_platform_domain_BreakdownPie" modelAttribute="breakdownPie" path="/breakdownpies" versionField="Version" z="ZaoZPGPrafjoZCf3r2xUhnJl2qg=">
        <field:input field="title" id="c_com_cars_platform_domain_BreakdownPie_title" min="2" required="true" z="aDSfwFZ/0kgp2OnSkfSCdeajvf8="/>
        <field:select field="breakdown" id="c_com_cars_platform_domain_BreakdownPie_breakdown" itemValue="id" items="${metricbreakdowns}" path="/metricbreakdowns" required="true" z="Z6SWHNvzczsX78V4YrLNPpIJ0QE="/>
        <field:select field="equation" id="c_com_cars_platform_domain_BreakdownPie_equation" itemLabel="selectName" itemValue="id" items="${breakdowncolumns}" label="Column" path="/breakdowncolumns" required="true" z="user-managed"/>
        <field:checkbox field="export" id="c_com_cars_platform_domain_BreakdownPie_export" z="ICAkFae5kD8iJd2MP5pgSixlDZk="/>
    </form:update>
</div>
