<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" 
     xmlns:spring="http://www.springframework.org/tags" 
     xmlns:c="http://java.sun.com/jsp/jstl/core"
	 xmlns:sform="http://www.springframework.org/tags/form"
	 xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	 xmlns:tiles="http://tiles.apache.org/tags-tiles"
	 xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  <spring:message code="label_subscriber_index" htmlEscape="false" var="title"/>
  <spring:message code="application_name" htmlEscape="false" var="app_name"/>
  <spring:url var="dashboard" value="/" />
  <spring:url var="profile" value="/profile" />
  <spring:url var="subscriber" value="/subscriber" />
  
  <spring:url var="icon_blank" value="/resources/images/icon_blank.png" />
 
  <spring:url var="usermanagement" value="/usermanagement" />
	<!-- OPS or ANALYST user only can see this page -->

<style>
.info {
	text-align: left;
	width: auto;
	border: 0px solid #ffffff;
}

.info td {
	height: 12px;
	font-size: 12px;
	/*white-space: nowrap;*/
	border: 0px solid #ffffff;
}

.info tr {
	background-color: #FFFFFF;
}

#carsmain {max-width: 722px;}

</style>


    <script>
	<![CDATA[
    $(function() {
        $('.confirmation').on('click', function () {
            return confirm('Are you sure?');
        });  
    });

    ]]>
    </script>

    <h3>Activity</h3>


	<c:if test="${activity.size()==0 }">
	    <p><i>No recent subscriber activity.</i></p>
    </c:if>
						
	<c:forEach var="activity" items="${activity }">
	    <p style="line-height:12px;"><b>${activity.person.firstName} ${activity.person.lastName}</b> ${activity.summary }</p>						
	</c:forEach>	

    <div style="float:left;width:50%;">

    <h3>Organization Details</h3>

    <table class="info">

        <tr><td width="80"><b>Address:</b></td>
        <td width="180">${company.address }<br/>${company.city }, ${company.state } ${company.zipString }</td>
        <td>
          <span id="icon-update"><a href="${subscriber }/${company.id }/edit"><img src="${icon_blank }" title="Edit" style="padding-right:10px;"/></a></span>       
          <span id="icon-delete"><a href="${subscriber }/delete/${company.id}" class="confirmation"><img src="${icon_blank }" title="Delete" style="padding-right:10px;"/></a></span>
        </td>                  
        </tr>
        <tr><td><b>Phone:</b></td>
        <td>${company.phone }</td><td></td></tr>
        <tr><td><b>Fax:</b></td>
        <td>${company.fax }</td><td></td></tr>
          
    </table>
    </div>







    <div style="float:right;width:50%;">
    
    
    
    
    <h3>Contacts</h3>


    <table class="info">
    <c:forEach var="employee" items="${employees }">
        <tr><td width="80"><b>Username:</b></td>
        <td width="180">${employee.username }</td>
    
        <td> 
        <span id="icon-update"><a href="${profile }/${employee.id}"><img src="${icon_blank }" title="Edit" style="padding-right:10px;"/></a></span>
        <span id="icon-delete"><a href="${profile }/delete/${employee.id}" class="confirmation"><img src="${icon_blank }" title="Delete" style="padding-right:10px;"/></a></span>
        
        </td>
        </tr>
        <tr><td><b>Password:</b></td>
        <td>${employee.password }</td><td></td></tr>     
        <tr><td><b>Name:</b></td>
        <td>${employee.firstName } ${employee.lastName }</td><td></td></tr>
        <tr><td><b>Title:</b></td>
        <td>${employee.title }</td><td></td></tr>
       <tr><td><b>Email:</b></td>
        <td>${employee.email }</td><td></td></tr>
       <tr><td><b>Reminders:</b></td>
        <td>${employee.emailRemindersEnabled }</td><td></td></tr>
        <tr><td><b>Upload Reminders:</b></td>
        <td>${employee.emailUploadRemindersEnabled }</td><td></td></tr>
        <tr><td><b>New Financial Reminders:</b></td>
        <td>${employee.newFinancialRemindersEnabled }</td><td></td></tr>
        <tr><td><b>Public Contact:</b></td>
        <td>${employee.publicContact }</td><td></td></tr>
       <tr><td><b>Phone:</b></td>
        <td>${employee.phone }</td><td></td></tr>
        <tr><td><b>Reporting Agreement:</b></td>
         <td><fmt:formatDate pattern="MM/dd/yyyy" value="${employee.agreementDate }" /></td><td></td></tr>
        <tr><td><b>Aeris Select Agreement:</b></td>
         <td><fmt:formatDate pattern="MM/dd/yyyy" value="${employee.agreementDateSelect }" /></td><td></td></tr>


 


       <tr><td colspan="3">&#160;</td></tr>
     </c:forEach>
    </table>
    
    
    <p>
    <a href="${profile }?form&amp;companyId=${company.id}">Add new contact</a>
    </p>
    
    
    </div>
    
    <br clear="both"/>

	<tiles:insertTemplate template="/WEB-INF/views/message/send.jspx"/>
</div>
